/*
COLORES

Del manual
-----------
Rojo: R213 G43 B30 --> #d52b1e
Verde: R122 G184 B0 --> #7ab800
Lila: R125 G0 B99
Marrón: R110 G50 B25
Azul: R0 G121 B193
Amarillo: R253 G200 B47

De los mockups
-------------

Celeste plomo: #f3f5fc
*/
@import url('https://fonts.googleapis.com/css?family=Alef&display=swap');

html {
  scroll-behavior: smooth;
}

.font-14{
  font-size: 14px
}
/*
TYPE 1
*/
/* -------------------------------------------------------------------------------------------------
                                          BOLETINES - Main
------------------------------------------------------------------------------------------------- */

@font-face {
  font-family: BreePeru;
  src: url("../fonts/BreePeru_Regular.otf");
}

@font-face {
  font-family: DINex;
  src: url("../fonts/D-DINExp.otf");
}

@media (max-width: 768px){ 

  .showMin768{
      display: none;
  }
}

@media (min-width: 768px){ 
  .showMax768{
      display: none;
  }


}

/* ---------------------------------------------------
    NAVBAR HEADER STYLE
----------------------------------------------------- */

.searchbar{
  margin-bottom: auto;
  margin-top: auto;
  height: 50px;
  background-color: #f3f5fc;
  border-radius: 49px;
  padding: 5px;
  border: solid 1px #dde2ed !important;
  }

  .search_input{
  color: #d52b1e;
  border: 0;
  outline: 0;
  background: none;
  width: 0;
  caret-color:transparent;
  line-height: 40px;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_input{
  padding: 0 5px;
  /*width: auto;*/
  caret-color:e74c3c;
  transition: width 0.4s linear;
  }

  .searchbar:hover > .search_icon{
  background: f3f5fc;
  color: #e74c3c;
  }

  .search_icon{
  height: 40px;
  width: 40px;
  float: right;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:#d52b1e;
  }


.navbar__all-options {
  padding-right: 0px !important;
  background-color: #fff;
}

#boletin__header-title {
  padding: 0px;
  margin: 0px;
}


#boletin__header-title li {
  display: inline;
}

/*EX. "BOLETIN DE INTELIGENCIA*/
.boletin__category {
  color: #555d61;
  display: inline-block;
  list-style: none;
  padding: 0;
  position: relative;
  font-size: 14px;
}

.boletin__category--pl {
  padding-left: 15px;
}

.boletin__logo {
  list-style: none;
  padding: 0;
  margin-right: 50px;
}

.boletin__category::before,
.boletin__category--mobile::before {
  color: #d52b1e;
  content: "\2022";
  display: inline-block;
  font-size: 25px;
  position: absolute;
  top: -20px;
}

.boletin__category--mobile li.boletin__category::before {
  top: -9px;
}

.navbar__options {
  display: inline-flex;
}

.navbar-brand {
  text-align: center;
  background: linear-gradient(0deg , transparent,#fff ) 220px 0 no-repeat, linear-gradient(131deg , #f3f5fc 75%, transparent 0%) left no-repeat;
  background-size: 100%, 100%, 100%, 100%;
  width: 200px;
  height: 79px;
  line-height: 60px;
  padding-left: 15px;
  color: white;
  margin: 0px;
  position: relative;
}

@media only screen and (max-width: 768px) {
  .menu__user-info {
    display: none !important;
  }
}

/*
WITHOUT BULLETS
*/

.ul-without-bullets{
  padding:0px;
}

.ul-without-bullets li{
  list-style: none;
}

/*
BULLETS ROJO 
*/

.bullets-red {
  padding-left: 15px;
  margin: 0px;
}
.bullet-item__text {
  list-style: none;
  padding: 0;
  position: relative;
  color: #555d61;
  font-family: DINex;
  margin-bottom: 10px;
}

.bullet-item__text::before {
  color: #d52b1e;
  content: "\2022";
  display: inline-block;
  font-size: 25px;
  position: absolute;
  top: -5px;
  left: -19px;
}


.bullet-item__text--pl {
  padding-left: 15px;
}


.header-title--col{
    padding-left: 0px;
}
/* ---------------------------------------------------
    MENU BRAND & USER HEADER STYLE
----------------------------------------------------- */

.menu__brand {
  color: #fff;
  background-color: #d13520;
  text-align: center;
  font-weight: bold;
  margin-bottom: 0px;
}

.menu__all-info-user {
  background: #f3f5fc;
  padding: 17px;
}
.menu__user {
  display: inline-flex;
  margin-right: 10px;
}

.menu__user-img {
  margin: 0px;
  width: 45px;
  height: 45px;
}

.menu__notifications {
  position: relative;
}
.menu__user-counter {
  line-height: 12px;
  padding: 4px 7px;
  position: absolute;
  left: -3px;
  bottom: -5px;
  border-radius: 50px;
  background: #d13520;
  color: #fff;
  font-weight: bold;
  font-size: 12px;
}

.menu__user-info {
  margin: 0px 5px;
}

.menu__user-info .user {
  font-size: 16px;
  color: #555d61;
  font-family: DINex;
}

.menu__user-info .email {
  word-wrap: break-word;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #879195;
}

.menu__salir .fa-sign-out-alt {
  font-size: 25px !important;
  color: #9fafb7;
  top: 10px;
  position: relative;
}

.boletin__search {
  border-radius: 26px 0px 0px 26px !important;
  border: solid 1px #dde2ed !important;
  border-right: 0px !important;
  background-color: #f3f5fc !important;
  padding: 22px !important;
  min-width: 285px;
  font-family: DINex;
}

.boletin__search--btn {
  border-radius: 0px 26px 26px 0px !important;
  border: solid 1px #dde2ed !important;
  background-color: #f3f5fc !important;
  color: #d52b1e;
  border-left: 0px !important;
  padding: 0px 10px;
}

button.boletin__search--btn.btn:hover,
button.boletin__search--btn.btn:focus,
button.boletin__search--btn.btn:active,
button.boletin__search--btn.btn.active {
  border-color: #dde2ed !important;
  color: #d52b1e !important;
}

.boletin__search-form {
  padding-right: 10px;
}

@media only screen and (min-width: 997px) {
  .boletin__category--mobile,
  .searchbar--mobile{
    display: none !important;
  }

  .attach-file__close--mobile{
    display: none !important;
  }
  
}


@media only screen and (max-width: 998px) {
  .boletin__search {
    min-width: auto !important;

  }

  .boletin__category--web{
    display: none !important;
  }

  .boletin__category--mobile, .searchbar--mobile{
    display: inline;
  }

  .boletin__search-form {
    display:none;
  }

  .menu__all-info-user{
    margin-left: auto!important;
  }

  .boletin__logo{
    margin-right: 5px;
  }

  .attach-file__close--web{
    display: none !important;
  }
}

/* ---------------------------------------------------
   SECTION LAYOUT
----------------------------------------------------- */

/*Genéricos para boletín*/
a, a:hover {
  color: #595c65;
}

.color-red{
  color: #d13520;
}

textarea::-webkit-input-placeholder {
  color: #c8c8c8 !important;
}

textarea:-moz-placeholder { /* Firefox 18- */
  color: #c8c8c8 !important;
}

textarea::-moz-placeholder {  /* Firefox 19+ */
  color: #c8c8c8 !important;
}

textarea:-ms-input-placeholder {
  color: #c8c8c8 !important;
}

textarea::placeholder {
  color: #c8c8c8 !important;
}

/*layout para secciones del boletín*/

.boletin__section {
  max-width: 1110px;
  margin: auto;
  padding: 20px 0px;
}

.boletin__section--date {
  padding: 25px 0px 15px 0px;
}

.page-body {
  margin-top: 80px;
  padding-right: 0px !important;
  padding-left: 0px !important;
  background: #f3f3f2;
}

/*Título Ex. "NUEVAS OPORTUNIDADES"*/
.boletin__title-row {
  margin-bottom: 15px;
}

.boletin__title-name-section {
  text-align: center;
}

.boletin__title-name {
  margin-bottom: 20px !important;
  display: inline-block;
  font-size: 21px;
  text-transform: uppercase;
  color: #555d61;
  position: relative;
  font-family: DINex;
}

.boletin__title-name::after {
  position: absolute;
  left: 0;
  right: 0;
  bottom: -10px;
  content: "";
  width: 30%;
  height: 2px;
  background: #7ab800;
  margin: 0 auto;
}

/*Ex. Boletín Abril 2019*/
.boletin__title-name-section--date {
  padding-bottom: 15px;
}

/*Subtítulo Ex. "Otros sectores de interés"*/
.boletin__subtitle-name,
.boletin-details__bibliography-title {
  color: #3c3c3c;
  display: inline-block;
  list-style: none;
  padding: 0;
  position: relative;
  font-size: 21px;
  color: #555d61;
  font-family: DINex;
}

.boletin__subtitle-name--pl {
  padding-left: 15px;
}

.boletin__subtitle-name::before {
  color: #d52b1e;
  content: "\2022";
  display: inline-block;
  font-size: 25px;
  position: absolute;
  top: -10px;
}

@media only screen and (max-width: 768px) {
  .boletin__section {
    padding-left: 15px !important;
    padding-right: 15px !important;
  }

  .boletin__sector-section{
    text-align: center;
  }
}

/* ---------------------------------------------------
   SUB HEADER STYLE
----------------------------------------------------- */

.boletin__subheader {
  color: #595c65;
  font-weight: bold;
  font-size: 14px;
}

.boletin__subheader--arrow {
  color: #d52b1e;
  font-weight: bold;
  margin-right: 5px;
}

/* ---------------------------------------------------
   BOLETIN DETAILS STYLE
----------------------------------------------------- */

.boletin__details {
}

.boletin__sector-section {
  margin-bottom: 0px;
}

.boletin__sector {
  color: #fff;
  background: #7ab800;
  padding: 4px 15px;
  position: relative;
  font-size: 13px;
  font-weight: bold;
  margin-left: 10px;
}

.boletin__sector::after {
  content: "";
  border-top: 12px solid transparent;
  border-bottom: 11px solid transparent;
  border-left: 14px solid #7ab916;
  position: absolute;
  right: -14px;
  top: 0;
  z-index: 1;
}

/* ---------------------------------------------------
   BOLETIN LINK OPTIONS
----------------------------------------------------- */
.boletin__links-section {
  padding: 0px;
  border-radius: 5px 5px 0px 0px;
  box-shadow: 2px 3px 12px 5px rgba(135, 145, 149, 0.19);
}

.boletin__links-section ul{
  border-radius:5px;
}

.boletin__nav-link {
  color: #555d61;
  text-align: center;
  padding: 16px;
  font-size: 14px;
  font-weight: 500;
}

.boletin__nav-item:hover {
  /*  border-bottom: 2px solid #d52b1e;*/
}

.boletin__nav-link:hover {
  font-weight: bold;
  color: #d52b1e;
  border-bottom: 2px solid #d52b1e;
}

.boletin__nav-link--active {
  color: #d52b1e;
  border-bottom: 2px solid #d52b1e;
  font-weight: bold;
}

/* ---------------------------------------------------
   LAST NEWS STYLE
----------------------------------------------------- */
.last-news {
  background-image: url(../img/last-news-mainv2.jpg);
  min-height: 455px;
}

.last-news .carousel-indicators{
  left: auto;
  margin-right: 0%;
}

.carousel-indicators li {
  border-radius: 50px;
  width: 10px;
  height: 10px;
  background-color: #dbe0ec;
  border: 1px;
}

.carousel-indicators .active {
  background-color: #d52b1e;
}

.last-news__category {
  border-left: 3px solid #7ab916;
  padding-left: 5px;
  font-weight: bold;
  font-size: 12px;
}

.last-news__title {
  margin-top: 50px;
  font-size: 25px;
  font-family: DINEx;
}

.last-news__extract {
  font-size: 14px;
}

.last-news__category,
.last-news__title,
.last-news__extract {
  color: #fff;
}

.last-news__main {
  border-left: 5px solid #7ab916;
  padding: 25px;
  background: #000000bf;
}

.last-news__row {
  margin: 25px 0px;
}

.last-news__more-info {
  text-align: left;
  position: relative;
  padding-top: 3px;
  width:30%
}

.last-news__more-info:before {
  position: absolute;
  left: 0;
  right: 0;
  top: -2px;
  content: "";
  height: 1px;
  background: #dfe2e9;
  margin: 0 auto;
  opacity: 0.7;
}

.last-news__more-info-date {
  font-size: 13px;
  font-weight: bold;
  color: #fff;
  margin-right: 2px;
}

.last-news__more-info-arrow {
  background: #fff;
  color: #d52b1e;
  border-radius: 50px;
  font-size: 10px;
  padding: 3px 7px;
  position: absolute;
  right: -21px;
}


/* ---------------------------------------------------
   NEW OPPORTUNITIES STYLE
----------------------------------------------------- */
.new-opportunity__row {
  margin-bottom: 20px;
}

.new-opportunity__item {
  background: #fff;
  border-left: 5px solid #7ab916;
  padding: 20px 29px;
  margin-bottom: 10px;
}

/* without border left*/
.new-opportunity__item--subasta{
  border-radius: 5px;
  box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
  border-left: 0px;
}

@media (min-width: 768px){ 
  .new-opportunity__item-body {
    min-height: 125px;
  }
}


.new-opportunity__item-title {
  font-family: DINEx;
  font-size: 21px;
  color: #555d61;
  line-height: 1;
}

.new-opportunity__item-extract {
  color: #555d61;
  font-size: 14px;
  margin-bottom: 0px;
}

.new-opportunity__more-info {
  text-align: right;
  margin-bottom: 0px;
}

.new-opportunity__more-info-link {
  padding-right: 2px;
  color: #d52b1e;
}

.new-opportunity__more-info-link:hover{
  color: #d52b1e;
}

.new-opportunity__more-info-text {
  font-weight: bold;
  padding-right: 2px;
  font-size: 13px;
}

.new-opportunity__more-info-arrow {
  background: #d52b1e;
  color: #fff;
  border-radius: 50px;
  font-size: 10px;
  padding: 5px 7px;
}

/* ---------------------------------------------------
   LAST NEWS STYLE - SECTOR. Ex. AGRO
----------------------------------------------------- */

.last-news-sector__row {
  margin-top: 15px;
}

/*.last-news-sector__main{
    padding-left: 0px;
}*/

.last-news-sector__main-item {
  border-left: 5px solid #7ab916;
  padding: 37px 30px;
  background: #000000bf;
  background-image: url("../img/last-news-main.png");
  border-radius: 4px;
  margin-bottom: 15px;
}

.last-news-sector__secundary {
  padding-bottom: 20px;
}

.last-news-sector__secundary-item {
  padding: 15px;
  background: #000000bf;
  background-image: url("../img/last-news-2.jpg");
  border-radius: 4px;
}
.last-news-sector__secundaryv2-item {
  padding: 15px;
  background: #595b64;
  border-radius: 4px;
}

.last-news-sector__secundary-item-title {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}

.last-news-sector__secundary-item-extract {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  margin-bottom: 0px;
}

.last-news-sector__more-info {
  text-align: right;
  margin-bottom: 0px;
}

.last-news-sector__more-info-arrow {
  background: #d52b1e;
  color: #fff;
  border-radius: 50px;
  font-size: 10px;
  padding: 5px 7px;
}

.last-news-sector__secundary-row,
.opinions-row {
  margin-top: 15px;
}

.opinion__author {
  font-size: 13px;
}

.opinion__author-img {
  border-radius: 4px;
}

.opinion__column {
  position: relative;
  padding-left: 15px;
}

.opinion__date {
  margin-bottom: 5px;
}

.opinion__text,
opinion__date {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4c4c4c;
}

.opinion__more-info {
  text-align: right;
  margin-bottom: 0px;
  position: absolute;
  bottom: 0px;
  right: 0px;
}

blockquote {
  font-family: Roboto;
  position: relative;
  margin: 0.5em;
  padding: 0.5em 2em 0.5em 3em;
  font-size: 15px;
  font-weight: bold;
  font-style: italic;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #4c4c4c;
}
blockquote:before {
  font-family: 'Alef', serif;
  position: absolute;
  font-size: 7.5em;
  line-height: 1;
  top: -16px;
  left: 0;
  content: "\201C";
  color: #babdc5;
  font-style:normal;
}
blockquote:after {
  font-family: 'Alef', serif;
  position: absolute;
  float: right;
  font-size: 7.5em;
  line-height: 1;
  right: -12px;
  bottom: -0.7em;
  content: "\201D";
  color: #babdc5;
  font-style:normal;
}
blockquote footer {
  padding: 0 2em 0 0;
  text-align: right;
}
blockquote cite:before {
  content: "\2013";
}
.opinion-audio__column {
  border-left: 1px solid #c1c1c1;
  position: relative;
}
.opinion-audio-author {
  padding-left: 50px;
}

.opinion-audio__more-info {
  text-align: right;
  margin-bottom: 0px;
  position: absolute;
  bottom: 0px;
  right: 25px;
}

.opinion-audio__more-info-arrow {
  background: #fff;
  color: #595c65;
  border-radius: 50px;
  font-size: 15px;
  padding: 6px 9px 6px 10px;
}

/*Opinion y audio en mobile*/
@media only screen and (max-width: 768px) {
  .opinion-audio__column:before {
    position: absolute;
    left: 45px;
    right: 45px;
    top: 8px;
    content: "";
    height: 2px;
    background: #babdc5;
    margin: 0 auto;
    opacity: 0.7;
  }

  .opinion-audio__column {
    border-left: 0px !important;
  }

  .blockquote-opinion{
    margin-top: 40px;
  }
  .opinions-row {
    padding-left: 20px;
    padding-right: 20px;
}
}



/* ---------------------------------------------------
   LAST COURSES STYLE
   section: ANÁLISIS DE MERCADO

----------------------------------------------------- */

.market__section{
  padding-bottom: 50px;
}

.last-courses__title {
  margin-bottom: 15px;
}

.last-courses__filters {
  text-align: right;
}

.last-courses__filter-btn {
  border-radius: 5px;
  background-color: rgba(255, 255, 255, 0.5);
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #879195;
}

.last-courses__filter-item {
  font-size: 13px;
  color: #879195;
}

.last-course-item {
  border-radius: 5px;
  box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
  background-color: #ffffff;
  padding: 9px 17px;
  margin-bottom: 10px;
  text-align: center;
}
.last-course__item-check {
}

.last-course-item__title {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #595c65;
  margin-bottom: 2px;
  text-align: left;
}

.last-course-item__extract {
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #879195;
  margin-bottom: 2px;
  text-align: left;
}

.last-course-item__bookmark {
  font-size: 20px;
  color: #595c65;
}

.last-course-item__ellipsis {
  color: #d13520;
  font-size: 20px;
}

.last-course-item__dropdown::after {
  display: none;
}

.last-courses__estadisticas-title {
  margin-bottom: 15px !important;
}

.estadisticas__tabs{
  background: transparent !important;
}
.estadisticas__tabs a {
  border: solid 1px #e7ebf4 !important;
  background-color: #f3f5fc;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #595c65 !important;
  padding: 9px 35px !important;
}

.estadisticas__tabs a.active {
  box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
  background-color: #ffffff !important;
  color: #d13520 !important;
}

.estadistica__item-tab {
  background: white;
  padding: 2px;
  border-radius: 5px;
  box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
}

.estadisticas__filters {
  margin-bottom: 0px;
}

.estadistica__filter-market {
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #595c65 !important;
}

.estadistica__filter-icon {
  color: #595c65 !important;
  text-align: center;
  background: #eff0f4;
  padding: 10px 4px !important;
  margin: 2px;
  border: 2px solid #dbe0ec;
}

.estadistica__filter-icon--active {
  color: #d13520 !important;
  background: #dbe0ec;
}

.estadistica__filter-icon--red{
  color: #d13520 !important;
}

.estadistica__filter-icon:hover {
  background-color: #dbe0ec;
}

.estadisticas__table {
  margin-bottom: 0px;
}

.estadistica__pais {
  color: #555d61 !important;
}
/* ---------------------------------------------------
   SHARE INFO STYLE
----------------------------------------------------- */
.share-info__options {
  padding: 25px 0px 25px 0px;
}

.share-info__question {
  font-family: DINEx;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.19;
  letter-spacing: 0px;
  color: #ffffff;
  text-transform: uppercase;
  position: relative;
  margin-bottom:10px;
}

.share-info__question::after {
  position: absolute;
  left: 0;
  top: -10px;
  content: "";
  width: 7%;
  height: 2px;
  background: #d63621;
  margin: 0 auto;
}

.share-info__indication {
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.btn-share {
  border-radius: 5px;
  border: solid 1px #ffffff;
  width: 100%;
  min-height: 49px;
  margin-bottom: 10px;
}

.btn-share--url {
  padding-top: 7px;
}

.btn-share__attach {
  font-size: 18px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #ffffff;
}

.btn-share__restriction {
  font-size: 12px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
}
.btn-share__attach,
.btn-share__restriction {
  margin-bottom: 0px;
}

.share-info__others {
  border-top: solid 1px #777b85;
  padding-top: 20px;
}
.share-info__others-title {
  color: #ffffff;
}

.share-option__send-btn{
    width: auto;
    padding: 10px 60px;
}


/*Adjuntar Archivo*/
.attach-file__options {
    padding: 15px 25px;
    position: relative;
}

.attach-file__options:after {
  content: '';
  position: absolute;
  top: 7px;
  left: 63%;
  width: 0;
  height: 0;
  border: 28px solid transparent;
  border-bottom-color: #ffffff;
  border-top: 0;
  margin-left: -28px;
  margin-top: -28px;
}

.attach-file__item{
  margin-bottom: 10px;
}

.attach-file__item:last-child {
  margin-bottom: 0px;
}

.attach-file__name {
    font-size: 16px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #555d61;
    font-family: DINex;
}

.attach-file__size {
    font-size: 16px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #555d61;
    font-family: DINex;
}

.attach-file__check-done{
    color: #7ab800;
    font-size: 25px;
}

.attach-file__delete{
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #879195;
  margin-right: 2px;
}
.attach-file__trash{
    color: #879195;
    font-size: 25px;
}

.attach-file__close{
    color: #879195;
    font-size: 25px;
}

.attach-file__success-msg{
  font-family: DINex;
  font-size: 16px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #555d61;
  margin-bottom: 0px;
}

.attach-file__success-submsg{
  font-family: DINex;
  font-size: 16px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #555d61;
  margin-bottom: 0px;

}

/*Adjuntar URL*/

.share-url__options:after {
  content: '';
  position: absolute;
  top: 7px;
  right: 8%;
  width: 0;
  height: 0;
  border: 28px solid transparent;
  border-bottom-color: #ffffff;
  border-top: 0;
  margin-left: -28px;
  margin-top: -28px;
}

.share-url__input {
  border: none !important;
  border-bottom: 1px solid #d0d3d9 !important;
}

@media only screen and (max-width: 768px) {
  .share-url__input {
    margin: 8px 0px;
  }
}


/* ---------------------------------------------------
   COMPARTIDO POR OTROS EXPORTADORES
----------------------------------------------------- */

.share-by-others-item {
  border-radius: 5px;
  box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
  background-color: #ffffff;
  padding: 13px 17px;
  margin-bottom: 10px;
  text-align: center;
}


.share-by-others__icon{
  background: #dfe2e9;
  border-radius: 50px;
  padding: 10px;
}

.share-by-others__title{
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #595c65;
  margin-bottom: 7px;
  text-align: left;
}


/* ---------------------------------------------------
   EVENTS STYLE Ex. Calendario
----------------------------------------------------- */

.events__links-section {
  padding: 0px;
  border-radius: 5px;
  box-shadow: 2px 3px 12px 5px rgba(135, 145, 149, 0.19);
}

.events__links-section ul{
  border-radius:5px;
}


.events-row {
  margin-bottom: 25px;
}

.events-row .card {
  margin-bottom: 10px;
}

.events__todos {
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  text-align: center;
  color: #879195;
  padding: 18px;
}

.event-item__more-info-arrow {
  background: #d52b1e;
  color: #fff;
  border-radius: 50px;
  font-size: 10px;
  padding: 3px 7px;
}

.events__todos:hover {
  color: #555d61;
}

.events__todos-arrow {
  color: #d13520;
}


.event-item__card{
  border: 0px;
}

.event-item__card-img{
  width: 100%;
}

.event-item__body{
  padding: 15px;
  min-height: 95px;
}

.event-item__footer{
  background-color: rgb(255, 255, 255);
  border-top: 0px;
  padding: 0px 15px 15px;
}

.event-item__title {
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #595c65;
}

/* ---------------------------------------------------
   FOOTER STYLE
----------------------------------------------------- */
.footer__section{
  padding: 40px 0px;
}

.footer__address {
  font-size: 13px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.54;
  letter-spacing: normal;
  color: #a1a7b5;
  font-family: Roboto;
  margin-bottom: 0px;
}

.footer-copyright {
  background: #fff;
  font-size: 13px;
  font-weight: bold;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #555d61;
}

.footer-copyright__section{
  padding: 5px 0px;
}

.footer__logo,
.copyright__logo {
  text-align: right;
}

.share-options__arrow::before {
  top: 0;
  border-width: 0 .5rem .5rem .5rem;
  border-bottom-color: rgba(0,0,0,.25);
}
.share-options__arrow::after {
  position: absolute;
  display: block;
  content: "";
  border-color: transparent;
  border-style: solid;
}


.popover-close {
  position: absolute;
  top: 5px;
  right: 10px;
  opacity: 1;
  z-index: 1;
}
.popover-close .material-icons {
  font-size: 16px;
  font-weight: bold;
}


/*
TYPE 2
*/
/* -------------------------------------------------------------------------------------------------
                                          BOLETINES - Single item
------------------------------------------------------------------------------------------------- */
/* ---------------------------------------------------
   RESUME STYLE
   Ex. Balanza comercial del Perú acumuló superávit de US$4.924M entre enero y octubre.
----------------------------------------------------- */
.boletin-item__title{
  padding: 0px;
  margin-bottom: 10px;
}


.boletin-resume,
.boletin-resume p{
  color: #595c65;
}

.boletin-resume__row{
  padding-top: 15px;
  padding-bottom:15px;
}


.boletin-resume__title{
  font-family: DINEx;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.29;
  text-transform: uppercase;
}

.boletin-resume__subtitle{
  font-size: 13px !important;
  font-style: normal;
  font-stretch: normal;
  letter-spacing: normal;
  border-left: solid 1px #d0021b;
  padding-left: 15px;
}

.boletin-resume__author{
  color: #d0021b !important;
  margin-bottom: 0px;
  font-weight: bold;
}

.boletin-resume__date{
  font-weight: bold;
  line-height: 1.79;
}

.boletin-resume__info{
  font-family: DINEx;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: 0px;
  color: #595c65;
}

.boletin-resume__topics{
  font-family: DINEx;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: 1.24;
  letter-spacing: 0px;
}

/* ---------------------------------------------------
   DETAILS STYLE
----------------------------------------------------- */

.boletin-details__photo-description{
  font-size: 12px;
  line-height: normal !important;
  color:#879195;
}
.boletin-details__photo-description--main{
  background: #f6f7f9;
  padding: 15px 30px;
  margin-bottom: 0px;
}

.boletin-details__statements {
  padding: 20px 30px;
  background: #fff;
}

.boletin-details__title-statement{
  font-family: DINEx;
  font-size: 21px;
  font-weight: bold;
  letter-spacing: 0px;
  color: #4c4c4c;
  padding-top: 5px;
}

.boletin-details__img{
  width:100%
}

.boletin-details__statements p{
  line-height: 25px;
  letter-spacing: normal;
  color: #879195;
}

.boletin-details__highlight{
  color: #d0021b;
  font-weight: bold;
}

.boletin-details__quote{
  font-family: DINEx;
  font-size: 21px;
  font-weight: normal;
  font-style: italic;
  font-stretch: normal;
  line-height: 1.33;
  letter-spacing: 0px;
  color: #4c4c4c;
  margin:0px;
}

.boletin-details__bibliography{
  background: #eef2fb;
  padding: 20px 30px;
}

.bibliography__reference{
  text-transform: uppercase;
  font-size: 13px;
  font-weight: bold;
  color: #879195;
  padding-left: 5px;
}


/* ---------------------------------------------------
   BOLETIN SINGLE ITEM -- COLUMN RIGHT -- STARS
----------------------------------------------------- */

.boletin__rating {
  background: #fff;
  border-radius: 5px;
  padding: 25px 30px;
  text-align: center;
}

.boletin__rating{
  background: #fff;
}

.boletin__rating-title{
  font-weight: bold;
  color: #555d61;
}

.boletin__all-stars{

}

.boletin__star{
  color: #d0d0d0;
  font-size: 28px;
  margin: 2px;
}

.boletin__star--checked{
  color: #ffdd4a;
}

/* ---------------------------------------------------
   BOLETIN SINGLE ITEM -- COMMENTS
----------------------------------------------------- */
.boletin-comment{
  border-radius: 5px;
  background-color: #ffffff;
  padding: 28px;
  margin-bottom: 10px;
}



.boletin-comment__author-name{
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  color: #d0021b;
}

.boletin-comment__author-sector{
  font-family: Roboto;
  font-size: 14px;
  color: #4c4c4c;
}

.boletin-comment__date--col{
  text-align:right;
}

.boletin-comment__heading {
  margin-bottom: 10px;
}

.boletin-comment__footer-options{
  display: inline-flex;
  margin-bottom:0px;
}


.boletin-comment__footer-options li{
  padding-right: 10px;
}

.boletin-comment__reply {
  border-radius: 5px;
  background-color: #eef2fb;
  padding: 15px;
  margin-bottom: 10px;
}

.post-comment__reply-close {
  margin: 15px 0px 8px;
  text-align: right;
}

.post-comment__reply-close--link {
  font-weight: bold;
  color: #879195;
}

.post-comment__reply-close--link:hover {
  text-align: right;
  font-weight: bold;
  color: #879195;
  text-decoration: none;
}

.post-comment__reply-text {
  color: #d53621 !important;
  font-weight: bold;
}



.boletin-coment__new-comment{
  border-radius: 5px;
  background-color: #ffffff;
  padding: 10px 28px;
}

.boletin-coment__new-comment--reply{
  border: solid 1px #cacaca;
}


.new-comment__text{
  border:0px !important;
  font-size: 14px;
  line-height: 1.79;
  color: #879195 !important;
}

/* ---------------------------------------------------
   BOLETIN SINGLE ITEM -- WITHOUT COMMENTS
----------------------------------------------------- */

.boletin-resume__title-resume {
  font-family: DINEx;
}

.boletin-comment__footer-options--nocomments {
  padding: 8px 6px 8px 9px;
  background: #d0d3d9;
  text-align: center;
  border-radius: 5px;
  font-size: 15px;
}

.boletin-comment__body--nocomment {
  background: #fff;
  padding: 25px;
  border-radius: 5px;
}

.boletin-comment--nocomment{
  background-color: transparent;
  padding: 5px 0px;
}

/* ---------------------------------------------------
   BOLETIN SINGLE ITEM -- social networks - addthis
----------------------------------------------------- */


@media only screen and (min-width: 997px) {
  a.at-share-btn.at-svc-facebook {
    border-top-left-radius: 5px;
  }
  
  a.at-share-btn.at-svc-email {
    border-bottom-left-radius: 5px !important;
  }
}

/* ---------------------------------------------------
   BOLETÍN - TIPO SUBASTAS
----------------------------------------------------- */
.boletin-section__subasta{
  padding: 5px 0px 45px;
}
.subastas__title-section{
  padding-bottom: 25px;
}

.boletin__title-name-subasta {
  font-size: 21px;
  text-transform: uppercase;
  color: #555d61;
  font-family: DINex;
}

.strikethough {
  width:100%; 
  text-align:center; 
  border-bottom: 1px solid #bcbcbc; 
  overflow: inherit;
  margin: 0px 15px;
}

 .strikethough span {
  padding: 7px 15px;
  position: relative;
  top: 15px;
  background: #d7dae0;
 }

 .subasta-item{

 }


 .subasta-item__title{
  font-family:DINex;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  color: #555d61;
  margin-bottom: 0px;
 }

 .subasta-item__followers{
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #879195;
  margin-bottom: 8px;
 }


 .subasta-item__details {
  border-left: solid 2px #d0021b;
  padding-left: 15px;
}

.subasta-item__interesting {
  border-radius: 5px;
  box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
  background-color: #ffffff;
  padding: 5px;
  height: 100%;
}

.subasta-item__close {
  border-radius: 3px;
  background-color: #eef2fb;
  color: #879195;
  text-align: center;
  padding: 5px;
}

.subasta-item__close-counter {
  font-family: DINex;
  font-size: 25px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  color: #4c4c4c;
  text-transform: uppercase;

}

.subasta-item__iaminterested {
  margin-top: 10px;
  text-align: center;
}

/*
 CAROUSEL MULTI ITEM

*/

.carousel-multi .carousel-control-prev,
.carousel-multi .carousel-control-next{
  display: none;
}


/* ---------------------------------------------------
   BOLETÍN - TIPO OTROS MODULOS
----------------------------------------------------- */

/* Section: Entrevistas a exportadores*/
.boletin__section-anuncio-paro{
  padding: 0px 0px 20px;
}

.anuncio-paro{
  background: #d0021b;
  color: #fff;
  padding: 15px 0px;
  border-radius: 0px 0px 5px 5px;
}

.anuncio-paro__icon{
  font-size: 35px;
}

.anuncio-paro__title {
  color: #fff;
  font-weight: bold;
  margin-bottom: 0px;
  line-height: 1;
  font-size: 13px;
}

.anuncio-paro__more-info-text{
  font-weight: bold;
  font-size: 13px;
}
.anuncio-paro__more-info-icon {
  background: #fff;
  color: #d52b1e;
  border-radius: 50px;
  font-size: 10px;
  padding: 3px 5px;
  margin-left: 2px;
}


.anuncio-paro__description {
  color: #fff;
  margin-bottom: 0px;
  font-size: 13px;
}

.boletin-title__interview{
  margin-top: 25px;
}

.interviews__section{
  margin-top: 15px;
}

.interview-card{
  border-radius: 4px;
  box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
  background-color: #ffffff;
  border: 0;
  cursor: pointer;
  margin-bottom: 10px;
}

.interview-card__body{
  padding: 15px 20px 20px;
}
.interview-card__title{
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #595c65;
  margin-bottom: 5px;
}

.interview-card__extract{
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: rgb(135, 145, 149);
  margin-bottom: 0px;
}



.interview-item {
  border-radius: 5px;
  box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
  background-color: #ffffff;
  padding: 10px;
  margin-bottom: 10px;
  min-height: 102px;
}

.interview-item__right-side{
  padding-left: 10px !important;
}

.interview-item__title{
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #595c65;
  margin-bottom: 2px;
  padding-right: 5px;
}

.interview-item__extract{
  font-family: Roboto;
  font-size: 12px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.17;
  letter-spacing: normal;
  color: #879195;
  margin-bottom: 0px;
}


/*modal de youtube - entrevista*/
.interview-card__youtube{
  width:100%;
  height:100%;
}

.interview-youtube__modal{
  height: 90vh;
}

.interview-youtube__modal-header{
  padding:0px !important;
 /* position: relative*/
  border: 0px;
  background: #000;
}

.interview-youtube__modal-close{
 /* position: absolute;
  right: 57px;
  top: 35px;
  z-index: 2;*/
    color: white;
    background: #869194 !important;
    opacity: 1;
    border-radius: 53%;
    padding: 2px 7px !important;
    margin: 5px !important;
}

.interview-youtube__modal-body{
  padding:0px !important;
}



/*
DESARROLLA TU PROPIA WEB
*/

.propia-web__level{
  background:#fff;
  border-radius: 5px;
  color: #595c65;
  font-size: 14px;
  padding: 0px 5px;
  margin-left: 8px;
}

.propia-web__title-section {
  position: relative;
  margin-bottom:10px;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: DINex;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #ffffff;
  margin-top: 25px;
}

.propia-web__row{
  padding: 10px 0px 20px 0px;
}

.propia-web__title{
  position: relative;
  margin-bottom:10px;
  text-transform: uppercase;
  line-height: 1.2;
  font-family: DINex;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #ffffff;
}

.propia-web__title-section::after {
  position: absolute;
  left: 0;
  top: -10px;
  content: "";
  width: 13%;
  height: 2px;
  background: #d63621;
  margin: 0 auto;
}

.propia-web__step-item{
  border-radius: 5px;
  box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
  background-color: #ffffff;
  padding: 20px;
  min-height: 87px !important;
  position:relative;
  margin-bottom: 10px;
}

.propia-web__next-steps-title{
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 7px;
}
.propia-web__step-item-text{
  font-family: DINEx;
  font-size: 20px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1;
  color: #595c65;
  padding-left: 20px;
  
}

.propia-web__number-bg{
  font-family: DINex;
  font-size: 71px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  color: #e1e3ea;
  position: absolute;
  top: -8px;
  left: -3px;
}


/*
CONSULTORIO
*/
@media only screen and (min-width: 997px) {
  .consultorio__description-section{ 
    width: 750px;
    margin: auto;
  } 
}

.consultorio__description-text{
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  text-align: center;
  color: #879195;
}


/*
ir a Preguntas frecuentes
*/

.go-to-faq__more-info-text{
  font-weight: bold;
  font-size: 13px;
  color: #d52b1e;
}
.go-to-faq__more-info-icon {
  background: #d52b1e;
  color: #fff;
  border-radius: 50px;
  font-size: 10px;
  padding: 3px 5px;
  margin-left: 2px;
}


/*

OTRAS NOTICIAS
*/

.other-news__title{
  font-family: DINEx;
  font-size: 21px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.19;
  letter-spacing: 0px;
  color: #4c4c4c;
  text-transform: uppercase;
}

.other-news__extract{
  border-left: 2px solid #7ab916;
  padding: 0px 25px;
}

.other-news__extract-text{
  font-family: Roboto;
  font-size: 14px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.57;
  letter-spacing: normal;
  color: #596167;
}

.other-news__source{
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: normal;
  color: #4c4c4c;
}

.other-news__source-name{
  border-radius: 5px;
  background-color: #ffffff;
  padding:5px;
}

#carouselOtherNewsIndicators .carousel-indicators li{
  background-color: white;
}

#carouselOtherNewsIndicators .carousel-indicators .active{
  background-color: #d52b1e;
}

.other-news__prev{
  padding: 20px 15px 15px;
  border-radius: 0px 5px 5px 0px;
  box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
  background-color: #ffffff;
}

.other-news__next {
  padding: 20px 15px 15px;
  border-radius: 5px 0px 0px 5px;
  box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
  background-color: #ffffff;
}

#carouselOtherNewsIndicators .carousel-control-next, 
#carouselOtherNewsIndicators .carousel-control-prev{
  width: 5%;
  opacity: 1;
}

#carouselOtherNewsIndicators .carousel-control-next{
  justify-content: flex-end;
}

#carouselOtherNewsIndicators .carousel-control-prev{
  justify-content: flex-start;
}




#carouselOtherNewsIndicators .carousel-control-prev-icon {
  background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d52b1e' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
 }
 
 #carouselOtherNewsIndicators .carousel-control-next-icon {
   background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23d52b1e' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
 }


 /*preguntas frecuentes*/

 .faq__text{
  color: #d52b1e;
 }

 /*enlaces de interés*/
 .interesting-links{
   border-radius: 4px;
   box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
   background-color: #ffffff;
   padding: 20px;
   margin-top: 15px;
 }

 .interesting-links__bullets-red {
  padding-left: 15px;
  margin: 0px;
}
.interesting-links__bullet-item-text {
  list-style: none;
  padding: 0;
  position: relative;
  color: #555d61;
  font-family: DINex;
  margin-bottom: 19px;
}
.interesting-links__bullet-item-text:last-child{
  margin-bottom: 0px;
}

.interesting-links__bullet-item-text::before {
  color: #d52b1e;
  content: "\2022";
  display: inline-block;
  font-size: 25px;
  position: absolute;
  top: -8px;
  left: -19px;
}


.interesting-link-item__title{
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #d0031c;
}

.interesting-link-item__source{
    font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: italic;
  line-height: normal;
  letter-spacing: normal;
  color: #595c65;
}


/*
ÚLTIMOS SUCESOS
*/


.timeline-item__description {
	position: relative;
  box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
  background-color: #ffffff;
  border-radius: 5px;
  width: auto;
  padding: 20px 15px;
}

.timeline-item__description:after {
  content: '';
  position: absolute;
  bottom: 11px;
  left: 50%;
  width: 0;
  height: 0;
  border: 9px solid transparent;
  border-top-color: #ffffff;
  border-bottom: 0;
  margin-left: -20px;
  margin-bottom: -20px;
}

.timeline-item__text{
  font-family: DINex;
  font-size: 13px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: 1.15;
  letter-spacing: 0px;
  text-align: center;
  color: #4a4a4a;
}

.timeline-item__text--highlight{
  color: #d0021b;
  text-decoration: underline;
}

.timeline-item__point{
  background-color: #81bb27;
}

.timeline-item__date{
  font-family: Roboto;
  font-size: 14px;
  font-weight: bold;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  letter-spacing: normal;
  color: #595c65;
}


ul.timeline {
  list-style-type: none;
  position: relative;
}
ul.timeline:before {
  content: ' ';
  background: #d4d9df;
  display: inline-block;
  position: absolute;
  left: 29px;
  width: 2px;
  height: 100%;
  z-index: 400;
}
ul.timeline > li {
  margin: 20px 0;
  padding-left: 20px;
}
ul.timeline > li:before {
  content: ' ';
  background: white;
  display: inline-block;
  position: absolute;
  border-radius: 50%;
  border: 3px solid #22c0e8;
  left: 20px;
  width: 20px;
  height: 20px;
  z-index: 400;
}

/*
Visto en redes
*/

.social-network__section{
  border-radius: 5px;
  box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
  background-color: #ffffff;
  padding: 2px;
  margin-bottom: 15px;
}

.social-network__header{
  background-color: #dbe0ec;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  font-weight: bold;
  padding: 12px 20px;
}

.social-network__icon{
  color: #fff;
  font-size: 18px;
  margin-left: 2px;
}

.social-network__body{
  padding: 15px 20px;
}

.social-network__body--instagram{
  padding: 8px 20px;
}

.social-network__tweet {
  margin-bottom: 20px;
}

.social-network__comment-user{
  color:#d0021b;
  font-weight: bold;
  margin-bottom: 0px;
}
.social-network__comment-text{
  color:#879195;
  line-height: 1;
  margin-bottom: 0px;
}

.social-network__instagram-photo{
  border-radius: 3.6px;
}

.social-network__instagram-photo {
  margin-right: 10px;
}

.social-network__instagram-photo-img{
  border-radius: 3.6px;
}


/* ---------------------------------------------------
   BOLETÍN - SECTOR "EXPORTACIÓN DE SERVICIO" (amarillo)
----------------------------------------------------- */
.sector-amarillo--color{
  color: #f5c83f
}

.sector-amarillo--bg-color{
  background: #f5c83f
}

.boletin__sector.sector-amarillo--bg-color::after {
  border-left: 14px solid #f5c83f;
}

.boletin__title-name.boletin__title-name--amarillo::after {
  background: #f5c83f;
}

.last-news__main.last-news__main--amarillo,
.new-opportunity__item.new-opportunity__item--amarillo,
.last-news-sector__main-item.last-news-sector__main-item--amarillo{
  border-left: 5px solid #f5c83f;
}

.last-news__category.last-news__category--amarillo {
  border-left: 3px solid #f5c83f;
}




/* ---------------------------------------------------
   BOLETÍN - SECTOR "VESTIMENTA Y DECORACIÓN" (morado)
----------------------------------------------------- */
.sector-morado--color{
  color: #7f1f6a
}

.sector-morado--bg-color{
  background: #7f1f6a
}

.boletin__sector.sector-morado--bg-color::after {
  border-left: 14px solid #7f1f6a;
}

.boletin__title-name.boletin__title-name--morado::after {
  background: #7f1f6a;
}

.last-news__main.last-news__main--morado,
.new-opportunity__item.new-opportunity__item--morado,
.last-news-sector__main-item.last-news-sector__main-item--morado{
  border-left: 5px solid #7f1f6a;
}

.last-news__category.last-news__category--morado {
  border-left: 3px solid #7f1f6a;
}



/* ---------------------------------------------------
   BOLETÍN - SECTOR "ACUÍCOLA" (azul)
----------------------------------------------------- */
.sector-azul--color{
  color: #005cb9
}

.sector-azul--bg-color{
  background: #005cb9
}


.boletin__sector.sector-azul--bg-color::after {
  border-left: 14px solid #005cb9;
}

.boletin__title-name.boletin__title-name--azul::after {
  background: #005cb9;
}

.last-news__main.last-news__main--azul,
.new-opportunity__item.new-opportunity__item--azul,
.last-news-sector__main-item.last-news-sector__main-item--azul{
  border-left: 5px solid #005cb9;
}

.last-news__category.last-news__category--azul {
  border-left: 3px solid #005cb9;
}
