/*
 PROMPERU 2019
 Clases usadas para estilos específicos
 
 */


@font-face {
    font-family: DINex;
    src: url("../fonts/D-DINExp.otf");
  }

  @font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
  }

  .Site {
    display: flex;
    flex-direction: column;

    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    min-height: 100vh;
}

.Site-content {
    flex: 1 1;
}

#wrapper {
    background: #dee2ea;
}

body {
    font-family: Roboto, sans-serif;
    background: #fafafa;
}

p {
    font-family: Roboto, sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
    margin-bottom:0px;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.active .navbar {
    width: 100%;
}


.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.font-21{
    font-size: 21px;

}

.font-14{
    font-size: 14px
}

.font-8{
    font-size: 8px
}

/*
BULLETS ROJO 
*/
#header-title {
    padding: 0px;
    margin: 0px;
  }


  #header-title li, {
    display: inline;
  }
 
  .header-title__subtitle-name{
    color: #3c3c3c;
    display: inline-block;
    list-style: none;
    padding: 0;
    position: relative;
    color: #555d61;
    font-family: DINex;
  }

  .bullets-red {
    padding-left: 15px;
    margin: 0px;
  }
  .bullet-item__text {
    list-style: none;
    padding: 0;
    position: relative;
    color: #555d61;
    font-family: DINex;
    line-height: 2.14;
  }
  
  .header-title__subtitle-name--pl,
  .bullet-item__text--pl {
    padding-left: 15px;
  }
  
  .header-title__subtitle-name::before {
    color: #d52b1e;
    content: "\2022";
    display: inline-block;
    font-size: 25px;
    position: absolute;
    top: -5px;
  }

  .bullet-item__text::before {
    color: #d52b1e;
    content: "\2022";
    display: inline-block;
    font-size: 25px;
    position: absolute;
    top: -13px;
  }

  .header-title--col{
      padding-left: 0px;
  }


/*options for "sidebar's options"*/

@media (max-width: 576px){ 

    .showMin576{
        display: none;
    }
}

@media (min-width: 576px){ 
    .showMax576{
        display: none;
    }


}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#accordionSidebar {
    top: 0;
    bottom: 0;
    z-index: 1041;
    position: fixed;
    padding: 0px;
}

@media (min-width: 769px){ 
    .sidebar.toggled {
        width: 220px !important;
    }

    #menutop, .footer__container{
        margin-left: 220px
    }
}

@media (max-width: 769px){
    #accordionSidebar .toggled{
        margin-left: 220px;
        margin-right: -220px;
    }

    #accordionSidebar {
        margin-left: 0;
        margin-right: 0;
    }
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
.top-bar__search-xs{
    display: none;
}

.top-bar__search--web{
    display: block;
}


@media (max-width: 1000px){
    .top-bar__search--web{
        display: none !important;
    }

    .top-bar__search-xs{
        display: block !important;
        padding-top: 25px;
        height: 50px;
        background-color: #f3f5fc;
        border-radius: 30px;
        padding: 5px;
        border: solid 1px #dbe0ec;
        margin-right: 10px;
        margin-bottom: auto;
        margin-top: auto;
    }

    .top-bar__search-xs-icon{
        color: #e74c3c !important;
        padding-top: 12px;
    }

    .navbar__options--mobile{
        margin-left: auto!important;
    }
}


@media (max-width: 768px){
    /*.sidebar-toggled #menutop,
    .sidebar-toggled .body-container,
    .sidebar-toggled .footer__container{
        margin-left: 220px ;
    }*/

    .sidebar-toggled #accordionSidebar {
        left: 0 !important;
        width: 220px !important;
    }

    #accordionSidebar{
        left: -220px;
    }

    .topbar {
        height: 60px;
    }

    

    .topbar .nav-item .nav-link .img-profile {
        height: 3rem;
        width: 3rem;
    }

    .sidebar-brand--web{
        display:none !important;
    }

    .sidebar-brand-icon{
        height: 60px !important;
        padding: 0px 10px !important;
        width: auto !important;
    }

    .sidebar-brand {
        min-height: 60px !important;
        margin-bottom: 0px !important;
    }

    .header-brand--mobile{
        display: block !important; 
    }

}

@media (min-width: 769px){
.header-brand--mobile{
    display: none !important; 
}
}

.bars-mobile{
    color: #595c64;
}

.sidebar {
    width: 220px !important;
    z-index: 999;
    background: #595965;
    color: #fff;
    transition: all 0.3s;
}

.sidebar__option{
 padding: 0px 10px;
}

.sidebar__option a:hover{
    font-weight: bold;
}

.sidebar__option-icon--red{
    color: #d52b1e;
}

.sidebar__option-name{
    vertical-align: middle;
    font-size: 14px;
}
.sidebar__option-name:hover{
    color: #fff !important;
}


.sidebar__option--toggle {
	position: relative;
}

.sidebar__option--toggle:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	margin-left: -20px;
    margin-bottom: -20px;
    z-index: 9999;
}

.sidebar__option a .fa-circle{
    font-size: 8px;
    margin-right: 5px;
    margin-top: 0px;
    display: inline-block;
    vertical-align: middle;
}

.sidebar__option a .fa-circle:hover{
    font-size: 8px !important;
    margin-right: 5px;
    margin-top: 0px;
}

.sidebar__option-withsub--first{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sidebar__option-withsub--last.collapsed{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*options for "sidebar's suboptions"*/
/*ul de subopciones*/
.sidebar__option-list-suboptions {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #43434b;
}

.sidebar__option-list-suboptions--last{
    box-shadow: 0 15px 24px -10px rgba(5, 9, 25, 0.34);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

  .sidebar__suboption--a{
    padding:5px !important;
  }
  .sidebar__suboption-text {
    font-size: 13px;
    font-weight: bold;
    color: #a0a0a0;
  }

  .sidebar__suboption-text--active{
    color: #fff;
  }

  .sidebar__suboption-text:hover {
    color: #fff;
  }
  
  .sidebar__suboption-icon {
    background: #fff;
    color: #d52b1e;
    border-radius: 50px;
    font-size: 8px;
    padding: 2px 2px 3px 4px;
    margin-right: 7px;
    vertical-align: middle;
  }

/*hide toggle icon*/
#accordionSidebar .dropdown-toggle::after {
    display: none;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#accordionSidebar p {
    color: #fff;
    padding: 10px;
}

#accordionSidebar li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    position: relative;
}


/*opcion sin mostrar subopciones*/
#accordionSidebar .dropdown-toggle{
    background: #37373c;
}

#accordionSidebar ul a {
    padding-left: 22px !important;
    background: #43434b;
    width: 100%;
}

#accordionSidebar  ul a::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.sidebar-brand {
    min-height: 4.375rem;
    background: white;
    margin-bottom: 30px; /* distancia entre logo y opciones sidebar*/
}

.sidebar-brand-icon {
    text-align: center;
    background: linear-gradient(0deg , transparent,#fff ) 220px 0 no-repeat, linear-gradient(131deg , #f3f5fc 75%, #fff 0%) left no-repeat;
    background-size: 100%, 100%, 100%, 100%;
    width: 100%;
    line-height: 60px;
    padding: 10px;
    color: white;
    margin: 0px;
    position: relative;
    height: 85px;
}

#wrapper #content-wrapper {
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden;
}

#wrapper #content-wrapper #content {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
footer.sticky-footer {
    padding: 2rem 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
/* ---------------------------------------------------
    MENU HEADER STYLE
----------------------------------------------------- */

/*Ex. Boletin de inteligencia*/
.header__option-selected{
    display: inline-block;
    padding-left:25px;
}

@media only screen and (max-width: 768px) {
    .header__option-selected {
      display: none !important;
    }
  }

.header__option-selected-bullet{
    vertical-align: middle;
    color: #d52b1e;
}
.header__option-selected-name{
    font-size: 14px;
    padding-left: 6px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #555d61;
}


.menu__all-info-user{
    background: #f3f5fc;
    height: 85px;
    padding: 20px 30px;
}


.menu__user {
   display:inline-flex;
}

.menu__user-img{
    margin: 0px;
    width: 45px;
    height: 45px;
}

.menu__notifications {
    position: relative;
  }
  .menu__user-counter {
    line-height: 12px;
    padding: 4px 7px;
    position: absolute;
    left: -3px;
    bottom: -5px;
    border-radius: 50px;
    background: #d13520;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
  }

.menu__user-info{
    margin: 0px 5px;
}
@media only screen and (max-width: 768px) {
    .menu__user-info {
      display: none !important;
    }

    .menu__all-info-user{
        background: #fff;
        height: 60px;
        padding: 8px 5px;
    }

  }

.menu__user-info .user{
    font-size: 16px;
    font-weight: bold;
    color:#595864;
}

.menu__user-info .email{
    word-wrap: break-word;
}

.menu__salir .fa-sign-out-alt{
    font-size: 25px !important;
    color:#9fafb7;
    top: 10px;
    position: relative;
}

#userDropdown {
    padding: 0px;
}


/*Search*/
.main-search{
    padding: 20px !important;
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 50px;
    background-color: #f3f5fc;
    border-radius: 30px;
    padding: 5px;
    border: solid 1px #dbe0ec;
    margin-right: 10px;
}

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 250px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: #f3f5fc;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #d13520;
    }


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */


#wrapper #content-wrapper {
    background-color: #dfe2e9;
}

.content-option{
    margin: 110px 80px 80px 300px;
}


@media (max-width: 768px) {
    .content-option {
        margin: 110px 20px 20px;
    }
}


/* ---------------------------------------------------
    SIICEX-Admin
----------------------------------------------------- */

/*Botón - toggle - colapse sidebar*/
.btn__toggle,
.btn__toggle:hover,
.btn__toggle:active,
.btn__toggle:visited,
.btn__toggle:focus{
    color: #43434b !important;
    background-color: transparent !important;
    border-color: transparent!important;
    outline: none !important;
    box-shadow: none !important;
}


.btn__toggle .fa-bars{
    font-size: 20px;
}


/*Colores Código
Rojo: #d13520
Plomo oscuro:#43434b
Plomo claro: #575862
Blanco Humo: #e9ebef
Plomo claro menu: #9fafb7;
*/


/* ---------------------------------------------------
    BLOQUE DE SUSCRIPCIÓN
----------------------------------------------------- */


.subscription-section{
    background-color: #595c65;
    border-left: 8px solid #d0021b;
    border-radius: 4px;
}

.subscription-section__layout{
    width: 275px;
    margin: auto;
}

.btn-primary__subscribe{
  font-weight: bold !important;
  font-size:18px !important;
  width: 100%;
}

.subscription-section__subscription-text{
    padding: 25px;
}

.subscription-text__title{
    font-family: DINex;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #ffffff;
    margin-bottom: 10px;
}

.subscription-text__description{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    color: #ffffff;
}

.subscription-section__subscription-option{
    background-image: url("../img/rectangle.png");
    text-align: center;
    padding: 25px 2px;
}
.subscription-option__call{
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
}


@media (max-width: 1200px){
    .subscription-section__layout{
        width: auto;
        margin: auto;
    }
}

@media (max-width: 576px){
    .subscription-section__layout{
        width: 275px;
        margin: auto;
    }
}


@media (max-width: 768px){
    .subscription-section__subscription-text{
        border-left: 8px solid #d0021b;
    }

    .subscription-section{
        border-left: 0px !important;
    }
}





/* ---------------------------------------------------
    BLOQUE DE FILTROS DE BOLETINES
----------------------------------------------------- */

.boletin__filters{
  border-radius: 5px;
  box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
  background-color: #ffffff;
  padding: 15px 10px;
}


.text-filter__form-control{
    border: 0px;
    border-bottom: 2px solid #dfe2e9 !important;
    border-radius: 1px;
    padding: 6px 0px;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #555d61;
  }

  .dropdown__form-control{
    border: 0px;
    border-radius: 1px;
    padding: 6px 0px;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #555d61;
  }

  .select_box{
    overflow: hidden;
    position: relative;
  }

  .select_box select{
    border: 0;
    position: relative;
    z-index: 99;
    background: none;

    border: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance:none;
  }

  .select-arrow {
    color: #d52b1e;
    right:0px;
    top: 10px;
    width:30px;
    position:absolute;
    display:block;
    z-index: 10;
    margin: 0 0 0 0;
    pointer-events:none;
}



  /* ---------------------------------------------------
    BLOQUE DE BOLETINES
----------------------------------------------------- */
.boletines-download{
    text-align: right;
}

.boletines-download__text-zip{
    background-color: #efeff4;
    padding: 7px;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #879195;
    border-radius: 5px;
}


.boletines-download__icon{
    background-color: #dcdfed;
    border-radius: 50px;
    color: #595c65;
    padding: 3px;
    font-size: 12px;
}

.boletines__year--row{
    border-top: 1px solid #d5d5d5;
    padding-top: 15px;
}

.boletines__year{
  font-family: DINEx;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #555d61;
}


/* ---------------------------------------------------
    BLOQUE DE BOLETINES -- FILA DE BOLETÍN
----------------------------------------------------- */

.boletin-all {
    margin-bottom: 15px;
}

.boletin-item__date{
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #595c65;
}
.boletin-item{
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
    background-color: #ffffff;
    padding: 15px;
}

.boletin-item__option-icon{
    color: #595c65;
    font-weight: bold;
    margin-right: 3px;
}

.boletin-item__btn-collapse{
    color: #d52b1e;
}

.boletin-item__main-option{
    background-color: #dcdfed;
    border-radius: 50px;
    color: #595c65;
    padding: 8px 10px;
    font-size: 18px;
}

/* ---------------------------------------------------
    BLOQUE DE BOLETINES -- FILA DE BOLETÍN -- Detalles del boletín / collapse
----------------------------------------------------- */

.contenido-boletin{
    box-shadow: 2px 0px 11px 0 rgba(0,0,0,.15);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.contenido-boletin__title{
    font-family: DINEx;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #555d61;
    padding: 15px;
}

.contenido-boletin__details{
    padding-bottom: 15px;
}

.bg-white{
    background: #fff;
}

/* ---------------------------------------------------
   FOOTER STYLE
----------------------------------------------------- */
.footer__address {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: normal;
    color: #a1a7b5;
    font-family: Roboto;
    margin-bottom: 0px;
  }

  .footer__container {
    padding: 38px 25px;
  }
  
  .footer__logo,
.copyright__logo {
  text-align: right;
}

.copyright__logo img{
    width:auto;
}

@media (max-width: 900px){
    .copyright__logo img{
        width:100%;
    }
}


@media (max-width: 576px){
    .copyright__logo img{
        width:auto;
    }
}

.modal-backdrop{
    z-index: 1045 !important;
}
.footer-copyright {
    background: #fff;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #555d61;
    z-index: 1040;
  }
  
  .footer-copyright__section{
    padding: 5px 25px;
    margin-left: 220px;
  }

  @media (max-width: 768px){

    .footer__address{
        display:none;
    }
    .footer-copyright__section{
        margin-left: 0px !important;
    }
}



@media (min-width: 576px){
    .modal-subscription {
        max-width: 650px;
    }
}
.modal-header {
    padding: 5px 15px;
    border: 0px;
}

.modal-subscription__body {
    padding: 4px 45px 0px;
  }

  .modal-subscription__body-success {
    padding: 45px;
  }

.modal-subscription__icon-success{
    color: #7eba41;
    font-size:30px;
    text-align: center;
}

.modal-subscription__type{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #595c65;
}
.modal-input{
    border: 0px;
    border-bottom: 1px solid #979797 !important;
    border-radius: 1px;
    padding: 0px !important;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #555d61;
}

.modal-subscription--col{
 padding: 20px 15px;
}
.modal-footer{
      text-align: center;
      display: block;
      border-top: 0px;
      padding-bottom: 30px;
  }
.modal-subscription__title{
    font-family: DINEx;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    color: #555d61;
}

.modal-subscription__info{
    font-family: Roboto;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    color: #7a7a7a;
    padding:25px 0px 30px;
}

.sector__tags{
    line-height: 30px;
}

.sector__tag{
    border-radius: 3px;
    padding: 5px 8px;
    white-space: nowrap;
}
.sector__tag--green{
    background: #7eba41;
    color: #fff;


}

.sector__tag--gray{
    background: #d0d3d9;
    color: #595c65;

}


/* ---------------------------------------------------
   PÁGINA: HERRAMIENTAS DE ANÁLISIS
----------------------------------------------------- */
.analysis-item {
    padding: 2px;
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
    background-color: #ffffff;
    margin-bottom: 20px;
}

.analysis-item__header{
    border-radius: 4px;
    background-color: #dbe0ec;
    border-color: #dbe0ec;
}

.analysis-item__header-title{
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #595c65;
    padding-top: 3px;
}


.analysis-item__more-info-arrow {
    background: #d52b1e;
    color: #ffffff;
    border-radius: 50px;
    font-size: 10px;
    padding: 3px 7px;
  }

.analysis-item__body{
    padding:0px;
}

.analysis-item__body-row{
    padding: 25px 25px 25px 0px;
}


.analysis-item__logo{
    border: solid 1px #dbe0ec;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50%;
}



.analysis-item__body-title{
    font-family: DINEx;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #555d61;
}

.analysis-item__body-description{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
    color: #879195;
}


/* ---------------------------------------------------
   PÁGINA: PREGUNTAS FRECUENTES
----------------------------------------------------- */
.faqpromp-item {
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
    background-color: #ffffff;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.faqpromp-item__description{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #879195;
    padding: 25px 0px;
}


/* ---------------------------------------------------
  PÁGINA: QUE ES SIICEX
----------------------------------------------------- */
.content-option__v2 {
    margin: 110px 0px 80px 220px;
}

@media (max-width: 768px) {
    .content-option__v2 {
        margin: 110px auto;
    }

    .content-option__v2-section{
        padding-left: 30px !important;
        padding-right: 30px !important;
    }
}

.content-option__v2-section {
    padding-left: 50px;
    padding-right: 50px;
}

.siicex-definition__section{
    background-image: url(../img/siicex-video-bg.png);
    min-height: 450px;
    background-size:cover
}

.siicex-definition--row{
    min-height: 450px;
}

.siicex-definition{
    border-radius: 5px;
    box-shadow: 0 16px 24px -10px var(--dark-indigo-34);
    background-image: linear-gradient(to bottom, rgba(228, 23, 48, 0.87), #d0021b);
    padding: 40px;
    margin: 15px;
}

.siicex-definition__title{
    font-family: DINex;
  font-size: 21px;
  font-weight: normal;
  font-stretch: normal;
  font-style: normal;
  line-height: normal;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.siicex-definition__description{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 20px;
}

.siicex-definition__video-button{
    color: #17262f;
    background: white;
    font-size: 18px;
    font-weight: bold;
}

.advantages__full-section {
    margin-top: 25px;
}

.advantages__title-section{
    text-align: center;
  }

  .advantages__title-name {
    margin-bottom: 20px !important;
    display: inline-block;
    font-size: 21px;
    text-transform: uppercase;
    color: #555d61;
    position: relative;
    font-family: DINex;
  }
  
  .advantages__title-name::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -10px;
    content: "";
    width: 30%;
    height: 2px;
    background: #d52b1e;
    margin: 0 auto;
  }

  .advantages__section{
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
    background-color: #ffffff;
    padding: 20px 10px;
  }

  .advantage__card{
    border: 0px;
    margin-bottom: 15px;
  }

@media (max-width: 768px) {
    .advantage__card{
        border: 0px;
        margin-bottom: 0px;
      }
}

  .advantage__card-img{
    border-radius: 50%;
  }

  .advantage__card-body{
    padding: 20px 5px;
  }

  .advantage__card-title{
    font-family: DINex;
    font-size: 21px;
    color: #555d61;
    text-transform: uppercase;
    margin-bottom: 5px;
    line-height: 1;
  }

  .advantage__card-description{
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #879195;
  }

  /*mapa y columna de datos de contacto*/
  .contact-map__section{
    background-image: url(../img/promperu-map.png);
    min-height: 450px;
    background-size:cover;
    margin-top: 30px;
  }

  .contact-map--row{
    min-height: 450px;
}

  .contact-map__details{
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
    background-color: #ffffff;
    padding: 40px;
    margin: 15px;
  }
  .contact-details__title-section{
      margin-bottom: 25px;
  }
  .contact-details__title{
    font-family: DINex;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #555d61;
    padding-left: 6px;
}

.contact-details__subtitle{
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #595c65;
    text-transform: uppercase;
}

.contact-details__subsection p {
    line-height: 1.3;
}

.contact-details__address{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #595c65;
    text-decoration: underline;
}
.contact-details__phone{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #879195;
}
.contact-details__email{
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #d0021b;
}

.contact-details__subsection {
    border-left: 2px solid #d0021b;
    padding-left: 15px;
}


/*formulario de contacto*/
  .contact-form__section{
    margin-top: 30px;
  }

  
  
  .contact-form{
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
    background-color: #ffffff;
    padding:35px;
  }

  .contact-form__title-name {
    margin-bottom: 20px !important;
    display: inline-block;
    font-size: 21px;
    text-transform: uppercase;
    color: #555d61;
    position: relative;
    font-family: DINex;
  }
  
  .contact-form__title-name::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    content: "";
    width: 30%;
    height: 2px;
    background: #d52b1e;
    margin: 0 auto;
  }
  .contact-form__form-group--input{
    margin-top: 12px;
    margin-bottom: 2rem
  }
  .contact-form__input{
    color: #555d61;
    border: 0px;
    border-bottom: 2px solid #dfe2e9 !important;
    border-radius: 1px;
    padding: 0px !important;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
  }

  .contact-form__textarea{
    color: #555d61;
    border: 0px;
    border-bottom: 2px solid #dfe2e9 !important;
    border-radius: 1px;
    padding: 0px !important;
    font-size: 14px;
    font-weight: 500;
    height: 100%;
  }

  .contact-form__form-section{
    margin-top: 10px;
  }