/*
 PROMPERU 2019
 Clases usadas para estilos específicos
 
 */


@font-face {
    font-family: DINex;
    src: url("../fonts/D-DINExp.otf");
  }

  @font-face {
    font-family: Roboto;
    src: url("../fonts/Roboto/Roboto-Regular.ttf");
  }

  .Site {
    display: flex;
    flex-direction: column;

    height: 100%;
    overflow: auto;
    overflow-x: hidden;
    min-height: 100vh;
}

.Site-content {
    flex: 1 1;
}

#wrapper {
    background: #dee2ea;
}

body {
    font-family: Roboto, sans-serif;
    background: #fafafa;
}

p {
    font-family: Roboto, sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
    margin-bottom:0px;
}

a,
a:hover,
a:focus {
    color: inherit;
    text-decoration: none;
    transition: all 0.3s;
}

.active .navbar {
    width: 100%;
}


.line {
    width: 100%;
    height: 1px;
    border-bottom: 1px dashed #ddd;
    margin: 40px 0;
}

.font-32{
    font-size: 32px;

}

.font-21{
    font-size: 21px;

}

.font-14{
    font-size: 14px
}

.font-8{
    font-size: 8px
}

/*Dropdown de opciones
Descarga
Compartir
Guardar
*/
.dropdown-item.options-list {
    font-size: 13px;
    color: #879195;
}

.dropdown-item.active, .dropdown-item:active {
    text-decoration: none;
    background-color: #dee2ea;
}

/*ver todos*/

.link-ver-todos {
    font-family: Roboto;
    font-size: 13px;
    font-weight: bold;
    color: #879195;
    background: #eef2fa;
    padding: 5px 10px;
    border-radius: 5px;
}

.link-ver-todos--light{
    background: #f7f8fb;
}

.link-ver-todos--red{
    color: #d52b1e;
}

.icon-same-size{
    width: 25px !important;
    height: 25px !important;
}

.icon-same-size-18px {
    width: 18px !important;
    height: 18px !important;
}

.icon-red{
    color: #d52b1e;
}

.general-subtitle-bullet {
    margin-bottom: 10px;
}
/*
BULLETS ROJO 
*/
#header-title {
    padding: 0px;
    margin: 0px;
  }


  #header-title li, {
    display: inline;
  }
 
  .header-title__subtitle-name{
    color: #3c3c3c;
    display: inline-block;
    list-style: none;
    padding: 0;
    position: relative;
    color: #555d61;
    font-family: DINex;
  }

  .bullets-red {
    padding-left: 15px;
    margin: 0px;
  }
  .bullet-item__text {
    list-style: none;
    padding: 0;
    position: relative;
    color: #555d61;
    font-family: DINex;
    line-height: 2.14;
  }
  
  .header-title__subtitle-name--pl,
  .bullet-item__text--pl {
    padding-left: 15px;
  }
  
  .header-title__subtitle-name::before {
    color: #d52b1e;
    content: "\2022";
    display: inline-block;
    font-size: 25px;
    position: absolute;
    top: -5px;
  }

  .bullet-item__text::before {
    color: #d52b1e;
    content: "\2022";
    display: inline-block;
    font-size: 21px;
    position: absolute;
    top: -8px;
  }

  .header-title--col{
      padding-left: 0px;
  }


/*options for "sidebar's options"*/

@media (max-width: 576px){ 

    .showMin576{
        display: none;
    }
}

@media (min-width: 576px){ 
    .showMax576{
        display: none;
    }


}
/* ---------------------------------------------------
    SIDEBAR STYLE
----------------------------------------------------- */

#accordionSidebar {
    top: 0;
    bottom: 0;
    z-index: 1041;
    position: fixed;
    padding: 0px;
}

@media (min-width: 769px){ 
    .sidebar.toggled {
        width: 220px !important;
    }

    #menutop, .footer__container{
        margin-left: 220px
    }
}

@media (max-width: 769px){
    #accordionSidebar .toggled{
        margin-left: 220px;
        margin-right: -220px;
    }

    #accordionSidebar {
        margin-left: 0;
        margin-right: 0;
    }
}


/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */
.top-bar__search-xs{
    display: none;
}

.top-bar__search--web{
    display: block;
}


@media (max-width: 1000px){
    .top-bar__search--web{
        display: none !important;
    }

    .top-bar__search-xs{
        display: block !important;
        padding-top: 25px;
        height: 50px;
        background-color: #f3f5fc;
        border-radius: 30px;
        padding: 5px;
        border: solid 1px #dbe0ec;
        margin-right: 10px;
        margin-bottom: auto;
        margin-top: auto;
    }

    .top-bar__search-xs-icon{
        color: #e74c3c !important;
        padding-top: 12px;
    }

    .navbar__options--mobile{
        margin-left: auto!important;
    }
}


@media (max-width: 768px){
    /*.sidebar-toggled #menutop,
    .sidebar-toggled .body-container,
    .sidebar-toggled .footer__container{
        margin-left: 220px ;
    }*/

    .sidebar-toggled #accordionSidebar {
        left: 0 !important;
        width: 220px !important;
    }

    #accordionSidebar{
        left: -220px;
    }

    .topbar {
        height: 60px;
    }

    

    .topbar .nav-item .nav-link .img-profile {
        height: 3rem;
        width: 3rem;
    }

    .sidebar-brand--web{
        display:none !important;
    }

    .sidebar-brand-icon{
        height: 60px !important;
        padding: 0px 10px !important;
        width: auto !important;
    }

    .sidebar-brand {
        min-height: 60px !important;
        margin-bottom: 0px !important;
    }

    .header-brand--mobile{
        display: block !important; 
    }

}

@media (min-width: 769px){
.header-brand--mobile{
    display: none !important; 
}
}

.bars-mobile{
    color: #595c64;
}

.sidebar {
    width: 220px !important;
    z-index: 999;
    background: #595965;
    color: #fff;
    transition: all 0.3s;
}

.sidebar__option{
 padding: 0px 10px;
}

.sidebar__option a:hover{
    font-weight: bold;
}

.sidebar__option-icon--red{
    color: #d52b1e;
}

.sidebar__option-name{
    vertical-align: middle;
    font-size: 14px;
}
.sidebar__option-name:hover{
    color: #fff !important;
}


.sidebar__option--toggle {
	position: relative;
}

.sidebar__option--toggle:after {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 0;
	border: 20px solid transparent;
	border-top-color: #00aabb;
	border-bottom: 0;
	margin-left: -20px;
    margin-bottom: -20px;
    z-index: 9999;
}

.sidebar__option a .fa-circle{
    font-size: 8px;
    margin-right: 5px;
    margin-top: 0px;
    display: inline-block;
    vertical-align: middle;
}

.sidebar__option a .fa-circle:hover{
    font-size: 8px !important;
    margin-right: 5px;
    margin-top: 0px;
}

.sidebar__option-withsub--first{
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
}

.sidebar__option-withsub--last.collapsed{
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

/*options for "sidebar's suboptions"*/
/*ul de subopciones*/
.sidebar__option-list-suboptions {
    padding-top: 10px;
    padding-bottom: 10px;
    background: #43434b;
}

.sidebar__option-list-suboptions--last{
    box-shadow: 0 15px 24px -10px rgba(5, 9, 25, 0.34);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

  .sidebar__suboption--a{
    padding:5px !important;
  }
  .sidebar__suboption-text {
    font-size: 13px;
    font-weight: bold;
    color: #a0a0a0;
  }

  .sidebar__suboption-text--active{
    color: #fff;
  }

  .sidebar__suboption-text:hover {
    color: #fff;
  }
  
  .sidebar__suboption-icon {
    background: #fff;
    color: #d52b1e;
    border-radius: 50px;
    font-size: 8px;
    padding: 2px 2px 3px 4px;
    margin-right: 7px;
    vertical-align: middle;
  }

/*hide toggle icon*/
#accordionSidebar .dropdown-toggle::after {
    display: none;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

#accordionSidebar p {
    color: #fff;
    padding: 10px;
}

#accordionSidebar li a {
    padding: 10px;
    font-size: 1.1em;
    display: block;
    position: relative;
}


/*opcion sin mostrar subopciones*/
#accordionSidebar .dropdown-toggle{
    background: #37373c;
}

#accordionSidebar ul a {
    padding-left: 22px !important;
    background: #43434b;
    width: 100%;
}

#accordionSidebar  ul a::after {
    display: block;
    position: absolute;
    top: 50%;
    right: 20px;
    transform: translateY(-50%);
}

.sidebar-brand {
    min-height: 4.375rem;
    background: white;
    margin-bottom: 30px; /* distancia entre logo y opciones sidebar*/
}

.sidebar-brand-icon {
    text-align: center;
    background: linear-gradient(0deg , transparent,#fff ) 220px 0 no-repeat, linear-gradient(131deg , #f3f5fc 75%, #fff 0%) left no-repeat;
    background-size: 100%, 100%, 100%, 100%;
    width: 100%;
    line-height: 60px;
    padding: 10px;
    color: white;
    margin: 0px;
    position: relative;
    height: 85px;
}

#wrapper #content-wrapper {
    background-color: #f8f9fc;
    width: 100%;
    overflow-x: hidden;
}

#wrapper #content-wrapper #content {
    -webkit-box-flex: 1;
    -ms-flex: 1 0 auto;
    flex: 1 0 auto;
}
footer.sticky-footer {
    padding: 2rem 0;
    -ms-flex-negative: 0;
    flex-shrink: 0;
}
/* ---------------------------------------------------
    MENU HEADER STYLE
----------------------------------------------------- */

/*Ex. Boletin de inteligencia*/
.header__option-selected{
    display: inline-block;
    padding-left:25px;
}

@media only screen and (max-width: 768px) {
    .header__option-selected {
      display: none !important;
    }
  }

.header__option-selected-bullet{
    vertical-align: middle;
    color: #d52b1e;
}
.header__option-selected-name{
    font-size: 14px;
    padding-left: 6px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #555d61;
}


.menu__all-info-user{
    background: #f3f5fc;
    height: 85px;
    padding: 20px 30px;
}


.menu__user {
   display:inline-flex;
}

.menu__user-img{
    margin: 0px;
    width: 45px;
    height: 45px;
}

.menu__notifications {
    position: relative;
  }
  .menu__user-counter {
    line-height: 12px;
    padding: 4px 7px;
    position: absolute;
    left: -3px;
    bottom: -5px;
    border-radius: 50px;
    background: #d13520;
    color: #fff;
    font-weight: bold;
    font-size: 12px;
  }

.menu__user-info{
    margin: 0px 5px;
}
@media only screen and (max-width: 768px) {
    .menu__user-info {
      display: none !important;
    }

    .menu__all-info-user{
        background: #fff;
        height: 60px;
        padding: 8px 5px;
    }

  }

.menu__user-info .user{
    font-size: 16px;
    font-weight: bold;
    color:#595864;
}

.menu__user-info .email{
    word-wrap: break-word;
}

.menu__salir .fa-sign-out-alt{
    font-size: 25px !important;
    color:#9fafb7;
    top: 10px;
    position: relative;
}

#userDropdown {
    padding: 0px;
}


/*Search*/
.main-search{
    padding: 20px !important;
}

.searchbar{
    margin-bottom: auto;
    margin-top: auto;
    height: 50px;
    background-color: #f3f5fc;
    border-radius: 30px;
    padding: 5px;
    border: solid 1px #dbe0ec;
    margin-right: 10px;
}

    .search_input{
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    caret-color:transparent;
    line-height: 40px;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_input{
    padding: 0 10px;
    width: 250px;
    caret-color:red;
    transition: width 0.4s linear;
    }

    .searchbar:hover > .search_icon{
    background: #f3f5fc;
    color: #e74c3c;
    }

    .search_icon{
    height: 40px;
    width: 40px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 50%;
    color: #d13520;
    }


/* ---------------------------------------------------
    CONTENT STYLE
----------------------------------------------------- */


#wrapper #content-wrapper {
    background-color: #dfe2e9;
}

.content-option{
    margin: 110px 50px 80px 270px;
}


@media (max-width: 768px) {
    .content-option {
        margin: 90px 10px 10px;
    }
}


/* ---------------------------------------------------
    SIICEX-Admin
----------------------------------------------------- */

/*Botón - toggle - colapse sidebar*/
.btn__toggle,
.btn__toggle:hover,
.btn__toggle:active,
.btn__toggle:visited,
.btn__toggle:focus{
    color: #43434b !important;
    background-color: transparent !important;
    border-color: transparent!important;
    outline: none !important;
    box-shadow: none !important;
}


.btn__toggle .fa-bars{
    font-size: 20px;
}


/*Colores Código
Rojo: #d13520
Plomo oscuro:#43434b
Plomo claro: #575862
Blanco Humo: #e9ebef
Plomo claro menu: #9fafb7;
*/


/* ---------------------------------------------------
    BLOQUE DE SUSCRIPCIÓN
----------------------------------------------------- */


.subscription-section{
    background-color: #595c65;
    border-left: 8px solid #d0021b;
    border-radius: 4px;
}

.subscription-section__layout{
    width: 275px;
    margin: auto;
}

.btn-primary__subscribe{
  font-weight: bold !important;
  font-size:18px !important;
  width: 100%;
}

.subscription-section__subscription-text{
    padding: 25px;
}

.subscription-text__title{
    font-family: DINex;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #ffffff;
    margin-bottom: 10px;
}

.subscription-text__description{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.64;
    letter-spacing: normal;
    color: #ffffff;
}

.subscription-section__subscription-option{
    background-image: url("../img/rectangle.png");
    text-align: center;
    padding: 25px 2px;
    border-radius: 0px 5px 5px;
}
.subscription-option__call{
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #ffffff;
    margin-bottom: 10px;
}


@media (max-width: 1200px){
    .subscription-section__layout{
        width: auto;
        margin: auto;
    }
}

@media (max-width: 576px){
    .subscription-section__layout{
        width: 275px;
        margin: auto;
    }
}


@media (max-width: 768px){
    .subscription-section__subscription-text{
        border-left: 8px solid #d0021b;
    }

    .subscription-section{
        border-left: 0px !important;
    }
}





/* ---------------------------------------------------
    BLOQUE DE FILTROS DE BOLETINES
----------------------------------------------------- */

.boletin__filters{
  border-radius: 5px;
  box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
  background-color: #ffffff;
  padding: 15px 10px;
}


.text-filter__form-control{
    border: 0px;
    border-bottom: 2px solid #dfe2e9 !important;
    border-radius: 1px;
    padding: 6px 0px;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #555d61;
  }

  .dropdown__form-control{
    border: 0px;
    border-radius: 1px;
    padding: 6px 0px;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #555d61;
  }

  .select_box{
    overflow: hidden;
    position: relative;
  }

  .select_box select{
    border: 0;
    position: relative;
    z-index: 99;
    background: none;

    border: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance:none;
  }

  .select-arrow {
    color: #d52b1e;
    right:0px;
    top: 10px;
    width:30px;
    position:absolute;
    display:block;
    z-index: 10;
    margin: 0 0 0 0;
    pointer-events:none;
}



  /* ---------------------------------------------------
    BLOQUE DE BOLETINES
----------------------------------------------------- */
.boletines-download{
    text-align: right;
}

.boletines-download__text-zip{
    background-color: #efeff4;
    padding: 7px;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #879195;
    border-radius: 5px;
}


.boletines-download__icon{
    background-color: #dcdfed;
    border-radius: 50px;
    color: #595c65;
    padding: 3px;
    font-size: 12px;
}

.boletines__year--row{
    border-top: 1px solid #d5d5d5;
    padding-top: 15px;
}

.boletines__year{
  font-family: DINEx;
  font-size: 21px;
  font-weight: normal;
  font-style: normal;
  font-stretch: normal;
  line-height: normal;
  letter-spacing: 0px;
  color: #555d61;
}


/* ---------------------------------------------------
    BLOQUE DE BOLETINES -- FILA DE BOLETÍN
----------------------------------------------------- */

.boletin-all {
    margin-bottom: 15px;
}

.boletin-item__date{
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #595c65;
}
.boletin-item{
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
    background-color: #ffffff;
    padding: 15px;
}

.boletin-item__option-icon{
    color: #595c65;
    font-weight: bold;
    margin-right: 3px;
}

.boletin-item__btn-collapse{
    color: #d52b1e;
}

.boletin-item__main-option{
    background-color: #dcdfed;
    border-radius: 50px;
    color: #595c65;
    padding: 8px 8px;
    font-size: 18px;
}

/* ---------------------------------------------------
    BLOQUE DE BOLETINES -- FILA DE BOLETÍN -- Detalles del boletín / collapse
----------------------------------------------------- */

.contenido-boletin{
    box-shadow: 2px 0px 11px 0 rgba(0,0,0,.15);
    border-bottom-left-radius: 5px;
    border-bottom-right-radius: 5px;
}

.contenido-boletin__title{
    font-family: DINEx;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #555d61;
    padding: 15px;
}

.contenido-boletin__details{
    padding-bottom: 15px;
}

.bg-white{
    background: #fff;
}

/* ---------------------------------------------------
   FOOTER STYLE
----------------------------------------------------- */
.footer__address {
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: 1.54;
    letter-spacing: normal;
    color: #a1a7b5;
    font-family: Roboto;
    margin-bottom: 0px;
  }

  .footer__container {
    padding: 38px 25px;
  }
  
  .footer__logo,
.copyright__logo {
  text-align: right;
}

.copyright__logo img{
    width:auto;
}

@media (max-width: 900px){
    .copyright__logo img{
        width:100%;
    }
}


@media (max-width: 576px){
    .copyright__logo img{
        width:auto;
    }
}

.modal-backdrop{
    z-index: 1045 !important;
}
.footer-copyright {
    background: #fff;
    font-size: 13px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #555d61;
    z-index: 1040;
  }
  
  .footer-copyright__section{
    padding: 5px 25px;
    margin-left: 220px;
  }

  @media (max-width: 768px){

    .footer__address{
        display:none;
    }
    .footer-copyright__section{
        margin-left: 0px !important;
    }
}



@media (min-width: 576px){
    .modal-subscription {
        max-width: 650px;
    }
}
.modal-header {
    padding: 5px 15px;
    border: 0px;
}

.modal-subscription__body {
    padding: 4px 45px 0px;
  }

  .modal-subscription__body-success {
    padding: 45px;
  }

.modal-subscription__icon-success{
    color: #7eba41;
    font-size:30px;
    text-align: center;
}

.modal-subscription__type{
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #595c65;
}
.modal-input{
    border: 0px;
    border-bottom: 1px solid #979797 !important;
    border-radius: 1px;
    padding: 0px !important;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #555d61;
}

.modal-subscription--col{
 padding: 20px 15px;
}
.modal-footer{
      text-align: center;
      display: block;
      border-top: 0px;
      padding-bottom: 30px;
  }
.modal-subscription__title{
    font-family: DINEx;
    font-size: 21px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    color: #555d61;
}

.modal-subscription__info{
    font-family: Roboto;
    font-size: 13px;
    font-weight: normal;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    color: #7a7a7a;
    padding:25px 0px 30px;
}

.sector__tags{
    line-height: 30px;
}

.sector__tag{
    border-radius: 3px;
    padding: 5px 8px;
    white-space: nowrap;
}
.sector__tag--green{
    background: #7eba41;
    color: #fff;


}

.sector__tag--gray{
    background: #d0d3d9;
    color: #595c65;

}


/* ---------------------------------------------------
   PÁGINA: HERRAMIENTAS DE ANÁLISIS
----------------------------------------------------- */
.analysis-item {
    padding: 2px;
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
    background-color: #ffffff;
    margin-bottom: 20px;
}

.analysis-item__header{
    border-radius: 4px;
    background-color: #dbe0ec;
    border-color: #dbe0ec;
}

.analysis-item__header-title{
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #595c65;
    padding-top: 3px;
}


.analysis-item__more-info-arrow {
    background: #d52b1e;
    color: #ffffff;
    border-radius: 50px;
    font-size: 10px;
    padding: 3px 7px;
  }

.analysis-item__body{
    padding:0px;
}

.analysis-item__body-row{
    padding: 25px 25px 25px 0px;
}


.analysis-item__logo{
    border: solid 1px #dbe0ec;
    background-color: #ffffff;
    padding: 10px;
    border-radius: 50%;
}



.analysis-item__body-title{
    font-family: DINEx;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color: #555d61;
}

.analysis-item__body-description{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
    color: #879195;
}


/* ---------------------------------------------------
   PÁGINA: PREGUNTAS FRECUENTES
----------------------------------------------------- */
.faqpromp-item {
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
    background-color: #ffffff;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.faqpromp-item__description{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #879195;
    padding: 25px 0px;
}


/* ---------------------------------------------------
  PÁGINA: QUE ES SIICEX
----------------------------------------------------- */
.content-option__v2 {
    margin: 85px 0px 80px 220px;
}

@media (max-width: 768px) {
    .content-option__v2 {
        margin: 60px auto;
    }

    .content-option__v2-section{
        padding-left: 20px !important;
        padding-right: 20px !important;
    }
}

.content-option__v2-section {
    padding-left: 50px;
    padding-right: 50px;
}

.siicex-definition__section{
    background-image: url(../img/siicex-video-bg.png);
    min-height: 450px;
    background-size:cover
}

.siicex-definition--row{
    min-height: 450px;
}

.siicex-definition{
    border-radius: 10px;
    box-shadow: 0 16px 24px -10px rgba(5, 9, 25, 0.34);
    background-image: linear-gradient(to bottom,#ca1b30e0, #ca1b30e0);
    padding: 40px;
    margin: 15px;   
}

.siicex-definition__title{
    font-family: DINex;
  font-size: 21px;
  line-height: normal;
  color: #ffffff;
  text-transform: uppercase;
  margin-bottom: 5px;
}

.siicex-definition__description{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.64;
    letter-spacing: normal;
    color: #ffffff;
    margin-bottom: 20px;
}

.siicex-definition__video-button{
    color: #17262f;
    background: white;
    font-size: 18px;
    font-weight: bold;
}

.advantages__full-section {
    margin-top: 25px;
}

.advantages__title-section{
    text-align: center;
  }

  .advantages__title-name,
  .revista-exportando__title-name {
    margin-bottom: 20px !important;
    display: inline-block;
    font-size: 21px;
    text-transform: uppercase;
    color: #555d61;
    position: relative;
    font-family: DINex;
  }
  
  .advantages__title-name::after,
  .revista-exportando__title-name::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -5px;
    content: "";
    width: 30%;
    height: 2px;
    background: #d52b1e;
    margin: 0 auto;
  }

  .advantages__section{
    margin-top: 20px;
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
    background-color: #ffffff;
    padding: 20px 10px;
  }

  .advantage__card{
    border: 0px;
    margin-bottom: 15px;
  }

@media (max-width: 768px) {
    .advantage__card{
        border: 0px;
        margin-bottom: 0px;
      }
}

  .advantage__card-img{
    border-radius: 50%;
  }

  .advantage__card-body{
    padding: 20px 5px;
  }

  .advantage__card-title{
    font-family: DINex;
    font-size: 21px;
    color: #555d61;
    text-transform: uppercase;
    margin-bottom: 5px;
    line-height: 1;
  }

  .advantage__card-description{
        font-family: Roboto;
        font-size: 14px;
        font-weight: normal;
        font-stretch: normal;
        font-style: normal;
        line-height: 1.5;
        letter-spacing: normal;
        color: #879195;
  }

  /*mapa y columna de datos de contacto*/
  .contact-map__section{
    background-image: url(../img/promperu-map.png);
    min-height: 450px;
    background-size:cover;
    margin-top: 30px;
  }

  .contact-map--row{
    min-height: 450px;
}

  .contact-map__details{
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
    background-color: #ffffff;
    padding: 40px;
    margin: 15px;
  }
  .contact-details__title-section{
      margin-bottom: 25px;
  }
  .contact-details__title{
    font-family: DINex;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #555d61;
    padding-left: 6px;
}

.contact-details__subtitle{
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #595c65;
    text-transform: uppercase;
}

.contact-details__subsection p {
    line-height: 1.3;
}

.contact-details__address{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #595c65;
    text-decoration: underline;
}
.contact-details__phone{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #879195;
}
.contact-details__email{
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #d0021b;
}

.contact-details__subsection {
    border-left: 2px solid #d0021b;
    padding-left: 15px;
}


/*formulario de contacto*/
  .contact-form__section{
    margin-top: 30px;
  }

  
  
  .contact-form{
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
    background-color: #ffffff;
    padding:35px;
  }

  .contact-form__title-name {
    margin-bottom: 20px !important;
    display: inline-block;
    font-size: 21px;
    text-transform: uppercase;
    color: #555d61;
    position: relative;
    font-family: DINex;
  }
  
  .contact-form__title-name::after {
    position: absolute;
    left: 0;
    right: 0;
    bottom: -3px;
    content: "";
    width: 30%;
    height: 2px;
    background: #d52b1e;
    margin: 0 auto;
  }
  .contact-form__form-group--input{
    margin-top: 12px;
    margin-bottom: 2rem
  }
  .contact-form__input{
    color: #555d61;
    border: 0px;
    border-bottom: 2px solid #dfe2e9 !important;
    border-radius: 1px;
    padding: 0px !important;
    font-size: 14px;
    font-weight: 500;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: 0px;
  }

  .contact-form__textarea{
    color: #555d61;
    border: 0px;
    border-bottom: 2px solid #dfe2e9 !important;
    border-radius: 1px;
    padding: 0px !important;
    font-size: 14px;
    font-weight: 500;
    height: 100%;
  }

  .contact-form__form-section{
    margin-top: 10px;
  }


  /* ---------------------------------------------------
   PÁGINA: GLOSARIO
----------------------------------------------------- */
.glosario-item {
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
    background-color: #ffffff;
    padding: 20px;
    margin-bottom: 10px;
}

.glosario-item__term{
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #595c65;
    padding-top: 3px;
    text-transform: uppercase;
}


.glosario-item__description{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.5;
    letter-spacing: normal;
    color: #879195;
}

.glosario-pagination .pagination > li > a, .glosario-pagination .pagination > li > span {
    border: 0px;
}

.glosario-pagination ul.pagination {
    margin-bottom: 0px;
}

.glosario-pagination--row{
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
    background-color: #ffffff;
}
.glosario-pagination__letter{
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    color:#b4b4b4 !important
}

.glosario-pagination__letter--selected{
    background: transparent !important;
    color: #d0021b !important;
    height: 100%;
    font-weight: bold;
}

.glosario-pagination li.page-item {
    padding: 10px 8px;
}

.glosario-pagination li.page-item.active {
    border-bottom: 2px solid #d0021b !important;
}


  /* ---------------------------------------------------
   PÁGINA: REVISTA EXPORTANDO.PE
----------------------------------------------------- */
.revista-exportando__title-new-tag {
    border-radius: 5px;
    background-color: #ffffff;
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    color: #595c65;
    padding: 3px 10px;
}

.revistas-all__row{
    margin-left: -25px;
    margin-right: -25px;
}


.revista-item__card{
    border-radius: 4px;
    border-left: 10px solid #d0021b;
}

.revista-item__card-title{
    font-family: Roboto;
    font-size: 18px;
    font-weight: bold;
    color: #ffffff;
}

.revista-item__card-date{
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    color: #ffffff;
    border-top: solid 1px #ffffff;
    padding-top: 10px;
}

.revista-item__card-img{
    padding: 10px 10px 0px;
    background: #eff0f4;
}
.revista-item__card-info{
    top: auto !important;
    background: #595c64;
}

.revista-exportando__all-numbers{
    font-family: DINex;
    font-size: 21px;
    color: #555d61;
}

.all-numbers-details__line-icon{
    background-color: #dcdfed;
    border-radius: 50px;
    color: #595c65;
    padding: 6px 2px 6px 5px;
    font-size: 16px;
    margin-right: 10px;
}

.all-numbers-details__list{
    margin-bottom: 0px;
}
.all-numbers-details__list-item{
    list-style: none;
    margin-bottom: 10px;
}

.all-numbers-details__download-all{
    background-color: #f6f7f9;
    text-align: center;
    padding: 12px;
}

.all-numbers-details__download-all-text{
    font-family: Roboto;
    font-size: 13px;
    font-weight: bold;
    color: #879195;
}

.all-numbers-details__download-all-icon{
    background-color: #dcdfed;
    border-radius: 50px;
    color: #595c65;
    padding: 6px;
    font-size: 11px;
}


/* ---------------------------------------------------
   PÁGINA: MI PRODUCTO
----------------------------------------------------- */
.mi-producto__section{
    margin-bottom: 20px;
}

.mi-producto__main-tab-name {
    background-color: #f3f5fc;
}
.mi-producto__main-tab-name:hover {
    background-color: #f3f5fc !important;
}


.mi-producto__main-tab-name.active{
    color: #d0021b !important;
}

.mi-producto__main-title{
    font-family: DINEx;
    font-size: 25px;
    line-height: 1.2;
    letter-spacing: 0px;
    color: #555d61;
    text-transform: uppercase;
}

.mi-producto__num-partida{
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    color: #d0031c;
}

.mi-producto__fob{
    font-family: Roboto;
    font-size: 14px;
    color: #879195;
}

.mi-producto__breadcrum-ol{
    padding: 0px;
    background: white;
    margin-bottom: 0px;
    font-weight: bold;
    color: #555d61;
}

.breadcrumb-item+.breadcrumb-item::before {
    display: inline-block;
    padding-right: .5rem;
    color: #6c757d;
    content: ">";
}
.mi-producto__main-product{
    background: white;
    border-bottom: 3px solid #a6b40d;

}
.mi-producto__interest-text{
    color: #ffffff;;
    font-size: 18px;
    font-weight: bold;
  
}


/*table de estadísticas*/
.estadisticas__filters{
    margin-bottom: 0px;
}
.estadistica__filter-market {
    font-size: 14px;
    font-weight: bold;
    font-style: normal;
    font-stretch: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #595c65 !important;
}

.estadisticas__table {
    margin-bottom: 0px;
}

.estadistica-table__wrapper{
    background: white;
    padding: 2px;
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
}

.estadistica__filter-icon{
    color: #595c64;
    background: #eff2f9;
    border-radius: 5px;
    padding: 5px 7px;
    font-size: 15px;
    margin-left: 5px;
}

.estadistica__filter-icon--red{
   color: #d0021b;
}

.estadisticas__table td {
    font-size: 13px !important;
    color: #879195;
    text-align: ce;
}

.estadistica__pais {
    font-size: 13px !important;
    font-weight: bold;
    color: #555d61;
}

.estadistica__filter-market {
    background: #dbe0ec;
}

.estadistica__filter-icon--active {
    color: #d13520 !important;
    background: #dbe0ec;
    text-align: right;
    padding-right: 20px;
    font-weight: bold;
}

.estadistica__filter-icon-table{
    border-radius: 0px 5px 5px;
}


.mi-producto__main-card{
    border:0px;
}

.interest-tags__section{
    background-color: #595c65;

}

.interest-tags{
    padding:25px;
}

.interest-tag-item--black{
    background: #2b2828ab;
    color: #d1d1d1;
}

.interest-tag-item--gray{
    background: #cbcbcb;
    color: #595c65;
}


/*requisito item*/
.requisito-item{
border-radius: 5px;
box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
background-color: #ffffff;
padding: 25px 25px;
margin-bottom: 10px;
}

.requisito-item--red {
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
    background-color: #d0021b;
    color: #fff;
}

.requisito-item__title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #595c65;
    margin-bottom: 5px;
}

.requisito-item__extract {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #879195;
}

.dropdown-toggle::after {
    display: none;
}

.requisito-item__ellipsis{
    color: #d0021b;
}


.requisito-item__ellipsis--white{
    color: #fff;
}

.requisito-item__warning{
    background: #fff;
    color: gray;
    border-radius: 50%;
    padding: 8px 10px;
    font-size: 25px;
}

.requisito-item__ley{
    font-weight: bold;

}

/*noticias de mi producto*/

.mi-producto__last-new-item {
    padding: 25px 30px;
    border-left: 8px solid #d0021b;
    border-radius: 5px;
    background-size: cover !important;
    margin-bottom: 10px;
    min-height: 210px;
}

.mi-producto__last-new-item-card{
    border-left: 8px solid #d0021b;
    border-radius: 5px;
    margin-bottom: 10px;
}

.mp-last-new-item-card__card-img-overlay{
    padding: 25px 30px;
}

.mi-producto__last-new-img{
    filter: brightness(50%);
    background-size: cover;
}

.mi-producto__last-new-item-v2 {
    padding: 20px 30px;
}

.mp-last-new-item__title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.mp-last-new-item__title-v2 {
    font-family: DINex;
    font-size: 18px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.28;
    color: #ffffff;
}

.mp-last-new-item__extract {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}


.mp-last-new-item__more-info {
    position: relative;
    padding-top: 3px;
}

.mp-last-new-item__more-info-date {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0px;
    color: #ffffff;
    border-top: 1px solid #fff;
    padding-top: 10px;
    width: 30%;
}

.mp-last-new-item__more-info-arrow {
    background: #d52b1e;
    color: #fff;
    border-radius: 50px;
    font-size: 10px;
    padding: 5px 7px;
}

.mi-producto__header-title{
    margin-bottom: 10px !important;
}

.mi-producto__estudio-mercado-item{
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
    background-color: #ffffff;
    padding: 26px 20px;
    margin-bottom: 10px;
}

.mp-estudio-mercado-item__icon {
    background: #dbe1ed;
    color: #595c64;
    padding: 15px 16px;
    font-size: 25px;
    border-radius: 50%;
    font-weight: bold;
}

.mp__estudio-mercado-item__title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #595c65;
    margin-bottom: 5px;
}

.mp__estudio-mercado-item__extract {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #879195;
}

.estudio-mercado-item__ellipsis{
    color: #d0021b;
}

.mp-arancel-item{
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
    background-color: #ffffff;
    padding:24px;
    margin-bottom: 10px;
}

.arancel-item__title {
    font-family: Roboto;
    font-size: 14px;
    font-weight: 500;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    color: #555d61;
}

.arancel-item__value {
    font-family: Roboto;
    font-size: 48px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    color: #595c65;
}

.arancel-item__value--border-r{
    border-right: 1px solid #c9c9c9;

}


.arancel-item__value--green{
    color: #7eba41;
}

.arancel-item__description {
    font-family: Roboto;
    font-size: 13px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #879195;
    text-transform: uppercase;
    text-align: center;
}


/*top exportadores*/

.top-exportador-item {
    margin-bottom: 10px;
    border-bottom: 1px solid #dee2ea;
    padding: 5px 0px 13px;
}

.top-exportador-item:last-child{
    border-bottom: 0px;
    margin-bottom: 0px;
    padding-bottom: 0px;
}

.top-exportador__icon-up{
    color: #7eba41;
    font-size: 20px;
    padding: 0px;
}


.top-exportador-item p {
    line-height: normal;
}

.top-exportador-item__wrapper{
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
    background-color: #ffffff;
    padding: 15px 30px;
}

.top-exportador-item__title {
    font-size: 14px;
    color: #595c65;
    text-transform: uppercase;
    font-weight: bold;
}

.top-exportador-item__sector {
    font-weight: bold;
    color: #595c65;
}

.top-exportador-item__sector--name{
    font-weight: normal;

}



/*eventos relacionados*/
.mp-eventos-relacionados__help {
    border-radius: 5px;
    background-color: #595c65;
    border-left: 8px solid #d0021b;
    padding: 40px 25px 25px;
}

.mp-er__help-title{
    font-family: DINex;
    font-size: 21px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.1;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 15px;
    position: relative;
}

.mp-er__help-title::before {
    position: absolute;
    left: 0;
    right: 0;
    top: -15px;
    content: "";
    width: 30%;
    height: 2px;
    background: #d53621;
}
.mp-er__help-description{
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #ffffff;
}

.help__more-info-text {
    font-weight: bold;
    padding-right: 2px;
    font-size: 13px;
    color: #fff;
    margin-right: 5px;
}

.help__more-info-text--gray{
    color: #595c65;
}

.help__more-info-arrow {
    background: #d52b1e;
    color: #fff;
    border-radius: 50px;
    font-size: 10px;
    padding: 5px 7px;
}

.help__more-info {
    text-align: right;
    margin-bottom: 0px;
}

.event-item__card{
    border-radius: 4px;
    border-radius: 5px;
}
.event-item__body{
    padding: 15px;
}

.event-item__img{
    border-top-left-radius: calc(5px - 1px);
    border-top-right-radius: calc(5px - 1px);
}

.event-item__title {
    font-size: 14px;
    font-weight: bold;
    letter-spacing: normal;
    color: #595c65;
}

.event-item__description {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: 1.29;
    letter-spacing: normal;
    color: #879195;
}

.event-item__footer {
    background-color: rgb(255, 255, 255);
    border-top: 0px;
    padding: 0px 15px 15px;
}

.event-item__more-info-link{
    padding-right: 2px;
    color: #d52b1e;
}

.event-item__more-info-text {
    font-weight: bold;
    padding-right: 2px;
    font-size: 13px;
}


.event-item__more-info-arrow{
    background: #d52b1e;
    color: #fff;
    border-radius: 50px;
    font-size: 10px;
    padding: 3px 7px;
}


/* ---------------------------------------------------
   PÁGINA: EMPRESAS EXPORTADORAS
----------------------------------------------------- */
.option-back-section{
    background: #eff0f4;
    padding: 20px 0px;
}

.option-back__name {
    font-size: 14px;
    font-weight: bold;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    color: #595c65;
}

.option-back__icon{
    color: #d0021b;
    margin-right: 5px;
}

.empexp__header-list {
    background-color: #595c65;
    color: #fff;
    font-weight: bold;
    text-align: left;
    padding: 10px 20px;
    margin-bottom: 10px;
}

.empexp-item{
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
    background-color: #ffffff;
    padding: 10px 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.empexp-item__bg-section {
    border-radius: 5px;
    background-color: #f7f8fb;
    padding: 15px 25px 25px;
}

.empexp-item__market-title{
    font-weight: bold;
    text-transform: uppercase;
    color: #595c65;
}

.empexp-item__bg-section p{
    color: #595c65;
    line-height: normal;
}

.empexp-item__country-name{
    text-decoration: underline;
}


/* ---------------------------------------------------
   PÁGINA: ARANCELES PREFERENCIALES
----------------------------------------------------- */

.arancel-item {
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
    background-color: #ffffff;
    padding: 0px 20px;
    margin-bottom: 10px;
    font-weight: bold;
}

.dpw-subpartida::after{
    display: inline-block;
    margin-left: .255em;
    vertical-align: .255em;
    content: "";
    border-top: .3em solid;
    border-right: .3em solid transparent;
    border-bottom: 0;
    border-left: .3em solid transparent;
    color: #d0021b;
}

.dpw-subpartida {
    background: #f7f8fb !important;
    border: 0px;
    color: #595c65 !important;
    font-weight: bold;
    font-size: 13px;
    margin-bottom: 10px;

}

.arancel-item__subpartida {
    border-right: 1px solid #dee2ea;
    padding: 15px 0px;
}

.arancel-item__value-op2 {
    font-family: Roboto;
    font-size: 32px;
    font-weight: 300;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: 0px;
    text-align: center;
    color: #7eba41;
}

.arancel-item__subpartida-name {
    font-size: 14px;
    font-weight: bold;
    color: #595c65;
    margin-bottom: 10px;
}

.flag__wrapper{
    border-radius: 50%;
    background: #dee2ea;
}
.flag-icon{
    border-radius: 50%;
}

.flag-icon-25px{
    font-size:25px;
}


/* ---------------------------------------------------
   PÁGINA: QUIERES EXPORTAR
----------------------------------------------------- */


.quieresexp__subtitle {
    font-family: Roboto;
    font-size: 14px;
    font-weight: normal;
    font-stretch: normal;
    font-style: normal;
    line-height: normal;
    letter-spacing: normal;
    text-align: center;
    color: #879195;
}

.quieresexp-item{
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
    background-color: #ffffff;
    padding: 25px;
    margin-top: 80px;
}

.quieresexp-item__title{
    font-family: DINex;
    font-size: 21px;
    color: #555d61;
    text-transform: uppercase;
    line-height: normal;
}

.quieresexp-item__list-item{
    list-style: none;
    padding: 0;
    position: relative;
    color: #555d61;
}

.quieresexp-item__list-item::before {
    color: #d52b1e;
    content: "\2022";
    display: inline-block;
    font-size: 21px;
    position: absolute;
    top: -8px;
  }

.quieresexp-item__description {
    font-family: Roboto;
    font-size: 14px;
    line-height: 1.5;
    color: #879195;
    margin: 10px 0px;
}
.quieresexp-item__back {
    font-size: 13px;
    font-weight: bold;
    color: #595c65;
}

.quieresexp-item__img{
    margin: -50px 0px -70px;
}

.quieresexp__platform {
    margin: 60px 0px 20px 0px;
}



.platform-item {
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
    background-color: #ffffff;
}

.platform-item__title,
.platform-help__title {
    font-family: DINex;
    font-size: 21px;
    line-height: normal;
    letter-spacing: 0px;
    color: #555d61;
    text-transform: uppercase;
}

.platform-item__description {
    font-size: 14px;
    color: #879195;
    margin-bottom: 10px;
}

.platform-help {
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
    background-color: #ffffff;
}
.platform-help__col {
    padding: 30px !important;
}

.platform-help__col-der {
    background-color: #f6f7f9;
    border-left: 1px solid #e3e3e3;
}


/* ---------------------------------------------------
   PÁGINA: TRATADOS Y REGULAMENTACIONES
----------------------------------------------------- */


.tratados__main-section{
    background-image: url(../img/regulaciones-2.jpeg);
    min-height: 450px;
    background-size:cover;
}

.documentacion-item{
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
    background-color: #ffffff;
    padding: 15px 20px;
    margin-bottom: 10px;
}

.documentacion-item__country {
    font-family: DINex;
    font-size: 21px;
    letter-spacing: 0px;
    color: #555d61;
    margin-left: 5px;
}


.documentacion-item__update {
      color: #555d61;
      font-weight: bold;
}

.documentacion-item__cloud-icon {
    background: #dbe1ed;
    color: #595c64;
    padding: 8px 6px;
    font-size: 15px;
    border-radius: 50%;
    font-weight: bold;
}

.platform-item__card {
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
    background-color: #ffffff;
    padding: 15px;
}

.platform-item__title-card{
    font-size: 14px;
    font-weight: bold;
    color: #595c65;
}

.platform-item__description-card{
    line-height: normal;
    font-size: 14px;
    color: #879195;
    margin-bottom: 10px;
}

.platform-item__email-card{
    color: #d52b1e;
    font-weight: bold;
    font-size: 14px;
}

.documentacion__guia-acceso-item{
    border-radius: 5px;
    background-color: #f7f8fb;
    padding: 20px 0px;
    margin-bottom: 10px;
}

.documentacion-item__title-info {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    color: #595c65;
    margin-bottom: 10px;
}

/* ---------------------------------------------------
   PÁGINA: ESTUDIO MERCADO - DETALLE 1
----------------------------------------------------- */

.mercado-main{
    background: #fff;
    padding: 45px;
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
    background-color: #ffffff;
}


@media (max-width: 768px) {
    .mercado-main {
        padding: 25px;
    }
}

.mercado-main__category {
    font-size: 14px;
    font-weight: bold;
    color: #d0031c;
}

.mercado-main__title {
    font-family: DINex;
    font-size: 21px;
    text-transform: uppercase;
    color: #555d61;
}

p.mercado-main__date {
    font-family: Roboto;
    font-size: 14px;
    font-weight: bold;
    color: #595c65;
}

.mercado-main__extract {
    font-size: 14px;
    color: #879195;
    margin-bottom: 10px;
}

.mercado-main__tag {
    border-radius: 3px;
    padding: 5px 8px;
    white-space: nowrap;
    font-size: 13px;
    margin-right: 5px;
}



/* ---------------------------------------------------
   PÁGINA: HOME
----------------------------------------------------- */
.siicex-home__main-section{
    background-image: url(../img/home.png);
    min-height: 450px;
    background-size:cover;
}

.siicex-home__bg{
    padding: 60px 40px;
}

.siicex-home__title{
    font-family: DINex;
    font-size: 30px;
    line-height: normal;
    color: #ffffff;
    text-transform: uppercase;
    margin-bottom: 5px;
    text-align: center;
}

.social-network__section {
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
    background-color: #ffffff;
    padding: 2px;
    margin-bottom: 15px;
}

.social-network__header {
    background-color: #dbe0ec;
    border-top-left-radius: 4px;
    border-top-right-radius: 4px;
    font-weight: bold;
    padding: 12px 20px;
}

.social-network__body {
    padding: 15px 20px;
}

.social-network__tweet {
    margin-bottom: 20px;
}

.social-network__comment-user {
    color: #d0021b;
    font-weight: bold;
    margin-bottom: 0px;
}

.social-network__comment-text {
    color: #879195;
    line-height: 1;
    margin-bottom: 0px;
}

.social-network__instagram-card {
    border: 0px;
}

.social-network__instagram-body {
    padding: 5px 0px;
}

.social-network__instagram-items {
    padding: 20px 30px;
}

.social-network__instagram-img {
  border-radius: 5px
}

.subscription-section__subscription-text--home {
    padding: 25px !important;
}

.informado__step{
    font-family: DINex;
    font-size: 30px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #ffffff;
}

.informado__title{
    font-family: DINex;
    font-size: 21px;
    font-weight: bold;
    letter-spacing: 0px;
    color: #ffffff;
    text-transform: uppercase;
}

.informado__description{
  font-size: 14px;
  color: #ffffff;
  margin-bottom: 10px;
}

.informado__img-section{
    background-image: url(../img/mantenteinformado.png);
    background-size:cover;
}



/* ---------------------------------------------------
   PÁGINA: ESTADÍSTICAS GENERALES
----------------------------------------------------- */

.alert-warning {
    border-color: #b46f00;
}

.estadistica__source {
    font-size: 11px;
    text-align: right;
    padding: 10px;
    color: #879195;
    font-weight: bold;
}

.estadisticas-gen__select-country-section{
    border-radius: 5px;
    box-shadow: 0 3px 9px 0 rgba(135, 145, 149, 0.19);
    background-color: #ffffff;
}

.estadisticas-gen__select-country--col {
    padding: 25px 0px 25px 25px !important;
}

.estadisticas-gen__country{
    border-right: 1px solid #dfe2e9;
}

.estadisticas-gen__info-country--col {
    padding: 25px !important;
}

.siicex-button--red{
    color: #fff;
    background: #d0021b;
    font-size: 18px;
    font-weight: bold;
}

.siicex-button--red:hover{
    background-color: #e26251 !important;
    border-color: #e26251 !important;
    color: #FFFFFF !important;
}

.siicex-button--white{
    color: #17262f;
    background: #fff;
    font-size: 18px;
    font-weight: bold; 
    box-shadow: 0 3px 9px 0 rgba(0, 0, 0, 0.19);
}

.siicex-button--white:hover{
    color: #17262f;
    background: #f3f3f3;
}

.estadisticas-gen__dpw-country{
    background: #f7f8fb !important;
    border: 0px;
    color: #595c65 !important;
    font-size: 21px;
    margin-bottom: 10px;
    font-family: DINex;
}

.estadisticas-gen__top-country{
    font-family: Roboto;
    font-size: 14px;
    color: #595c65;
    font-weight: bold;
}

.porc--green{
    color: #89ae64;
}
.porc--bold{
    font-weight: bold;
}

.top-country__detail{
    line-height: normal;
}

.top-country__title{
    text-transform: uppercase;
}

.nav__links-section {
    padding: 0px;
    border-radius: 5px;
    box-shadow: 2px 3px 12px 5px rgba(135, 145, 149, 0.19);
    background: #fff;
}

.boletin__nav-link--active {
    color: #d52b1e !important;
    border-bottom: 2px solid #d52b1e;
    font-weight: bold !important;
}
.boletin__nav-link {
    color: #555d61;
    text-align: center;
    padding: 16px;
    font-size: 14px;
    font-weight: 500;
}